openapi: 3.2.0
info:
  title: DUST Events API
  description: DUST Platform API
  version: 2026.7.4
servers:
- url: https://apid.dustid.io
  description: DUST API for trusted provenance.
security:
- Bearer: []
tags:
- name: Events
  description: Work with system events
paths:
  /api/v1/events:
    get:
      operationId: events.list
      summary: List events
      tags:
      - Events
      responses:
        '200':
          description: List of events (Activity Groups when grouped).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '500':
          description: Unknown error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNKNOWN_ERROR
                  message:
                    type: string
                  status:
                    const: 500
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
      parameters:
      - in: query
        name: actionFilter
        schema:
          anyOf:
          - type: string
          - type: array
            items:
              type: string
      - in: query
        name: cursor
        schema:
          type: string
      - in: query
        name: excludeActionFilter
        schema:
          type: string
      - in: query
        name: groupBy
        schema:
          const: activity
      - in: query
        name: occurred
        schema:
          type: string
      - in: query
        name: order
        schema:
          enum:
          - asc
          - desc
      - in: query
        name: orgId
        schema:
          type: string
      - in: query
        name: pageSize
        schema:
          anyOf:
          - type: number
          - type: string
            pattern: ^(?:(?!^-0\.?0*$)(?:-?(?:(?:0|[1-9]\d*)(?:\.\d+)?)|\.\d+?))$
      - in: query
        name: teamId
        schema:
          type: string
      - in: query
        name: threadId
        schema:
          type: string
      - in: query
        name: withTargets
        schema:
          anyOf:
          - const: 'false'
          - const: 'true'
          - type: boolean
      - in: query
        name: withUser
        schema:
          anyOf:
          - const: 'false'
          - const: 'true'
          - type: boolean
components:
  schemas:
    ThreadFieldTextValue:
      type: object
      properties:
        text:
          type: string
      required:
      - text
    ThreadFieldSelectMany:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          const: select-many
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldSelectManyValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    ThreadFieldPhoneValue:
      type: object
      properties:
        phone:
          type: string
      required:
      - phone
    ThreadFieldDefinitionDate:
      type: object
      properties:
        name:
          type: string
        type:
          const: date
        id:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          description: a UUID
          format: uuid
          default: 386ff857-2e20-41e6-b97f-6a626481fa89
        isPrivate:
          type: boolean
          default: false
        isRequired:
          type: boolean
          default: false
        default:
          anyOf:
          - type: string
          - type: 'null'
        description:
          type: string
      required:
      - name
      - type
    ThreadFieldThread:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          const: thread
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldThreadValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    ThreadFieldDateRangeValue:
      type: object
      properties:
        from:
          type: string
        to:
          type: string
      required:
      - from
      - to
    ThreadFieldSelect:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          const: select
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldSelectValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    ThreadFieldDefinitionPhone:
      type: object
      properties:
        name:
          type: string
        type:
          const: phone
        id:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          description: a UUID
          format: uuid
          default: 4f65f255-250b-4ffb-b8f5-64144d2c3ecf
        isPrivate:
          type: boolean
          default: false
        isRequired:
          type: boolean
          default: false
        default:
          anyOf:
          - type: string
            pattern: ^(?:\+?\d{1,4})?[-.\s]*?\(?\d{1,3}?\)?[-.\s]*?\d{1,4}[-.\s]*?\d{1,4}[-.\s]?\d{1,9}$
          - type: 'null'
        description:
          type: string
      required:
      - name
      - type
    ThreadFieldResource:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          enum:
          - audio
          - doc
          - file
          - image
          - pdf
          - video
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldResourceValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    ThreadFieldTime:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          const: time
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldTimeValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    ThreadFieldUrlValue:
      type: object
      properties:
        url:
          type: string
      required:
      - url
    ThreadFieldDate:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          const: date
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldDateValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    ThreadFieldEmailValue:
      type: object
      properties:
        email:
          type: string
      required:
      - email
    Principal:
      type: object
      properties:
        avatar:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        email:
          anyOf:
          - type: string
          - type: 'null'
        emailVerified:
          anyOf:
          - type: boolean
          - type: 'null'
        familyName:
          anyOf:
          - type: string
          - type: 'null'
        kind:
          enum:
          - human
          - service
        name:
          anyOf:
          - type: string
          - type: 'null'
        phone:
          anyOf:
          - type: string
          - type: 'null'
        profileId:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          description: a UUID
          format: uuid
        updatedAt:
          type: string
        userId:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          description: a UUID
          format: uuid
      required:
      - avatar
      - createdAt
      - email
      - emailVerified
      - familyName
      - kind
      - name
      - phone
      - profileId
      - updatedAt
      - userId
    ThreadFieldDateRange:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          const: date-range
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldDateRangeValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    ThreadFieldText:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          const: text
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldTextValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    ThreadTemplateSpec:
      type: array
      items:
        anyOf:
        - $ref: '#/components/schemas/ThreadFieldDefinitionResource'
        - $ref: '#/components/schemas/ThreadFieldDefinitionBoolean'
        - $ref: '#/components/schemas/ThreadFieldDefinitionDate'
        - $ref: '#/components/schemas/ThreadFieldDefinitionDateRange'
        - $ref: '#/components/schemas/ThreadFieldDefinitionDatetime'
        - $ref: '#/components/schemas/ThreadFieldDefinitionDuration'
        - $ref: '#/components/schemas/ThreadFieldDefinitionEmail'
        - $ref: '#/components/schemas/ThreadFieldDefinitionLongText'
        - $ref: '#/components/schemas/ThreadFieldDefinitionNumber'
        - $ref: '#/components/schemas/ThreadFieldDefinitionJson'
        - $ref: '#/components/schemas/ThreadFieldDefinitionPhone'
        - $ref: '#/components/schemas/ThreadFieldDefinitionSelect'
        - $ref: '#/components/schemas/ThreadFieldDefinitionSelectMany'
        - $ref: '#/components/schemas/ThreadFieldDefinitionTags'
        - $ref: '#/components/schemas/ThreadFieldDefinitionText'
        - $ref: '#/components/schemas/ThreadFieldDefinitionTime'
        - $ref: '#/components/schemas/ThreadFieldDefinitionUrl'
    ThreadFieldDefinitionNumber:
      type: object
      properties:
        name:
          type: string
        type:
          const: number
        id:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          description: a UUID
          format: uuid
          default: 88007de5-4857-4391-890f-0e22663116b9
        isPrivate:
          type: boolean
          default: false
        isRequired:
          type: boolean
          default: false
        default:
          anyOf:
          - type: number
          - type: 'null'
        description:
          type: string
      required:
      - name
      - type
    ThreadFieldThreadValue:
      type: object
      properties:
        threadId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
      required:
      - threadId
    EventListResponse:
      type: object
      properties:
        events:
          type: array
          items:
            type: object
            properties:
              action:
                type: string
                maxLength: 64
              comment:
                anyOf:
                - type: string
                - type: 'null'
              created:
                type: string
              declaredActor:
                anyOf:
                - type: object
                  properties:
                    id:
                      type: string
                      maxLength: 128
                      minLength: 1
                    displayName:
                      type: string
                      maxLength: 128
                    role:
                      type: string
                      maxLength: 64
                    system:
                      type: string
                      maxLength: 64
                  required:
                  - id
                - type: 'null'
              eventId:
                type: string
                description: a RFC-4122-compliant UUID
                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
              geolocation:
                anyOf:
                - type: number
                - type: object
                - type: string
                - type: boolean
                - type: 'null'
              ipAddress:
                anyOf:
                - type: string
                - type: 'null'
              namespace:
                anyOf:
                - type: string
                - type: 'null'
              occurred:
                type: string
              operationId:
                type: string
                description: a RFC-4122-compliant UUID
                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
              operationName:
                anyOf:
                - type: string
                - type: 'null'
              payload:
                anyOf:
                - type: number
                - type: object
                - type: string
                - type: boolean
                - type: 'null'
              payload_version:
                type: string
                maxLength: 16
              topic:
                anyOf:
                - type: string
                - type: 'null'
              transactionId:
                anyOf:
                - type: string
                  description: a RFC-4122-compliant UUID
                  pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                - type: 'null'
              userAgent:
                anyOf:
                - type: string
                - type: 'null'
              userId:
                type: string
                description: a RFC-4122-compliant UUID
                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
              userOrgId:
                type: string
                description: a RFC-4122-compliant UUID
                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
              userTeamId:
                type: string
                description: a RFC-4122-compliant UUID
                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
              to_bundles:
                type: array
                items:
                  type: object
                  properties:
                    bundleId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    childOfId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    createdAt:
                      type: string
                    description:
                      anyOf:
                      - type: string
                      - type: 'null'
                    kind:
                      type: string
                    name:
                      type: string
                    ownerId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    updatedAt:
                      type: string
                    depth:
                      type: number
                    hasChildren:
                      type: boolean
                    idPath:
                      type: array
                      items:
                        type: string
                    isSharedOut:
                      type: boolean
                    path:
                      type: array
                      items:
                        type: string
                    permissions:
                      type: object
                      properties:
                        can_edit:
                          type: boolean
                          default: false
                        can_publish:
                          type: boolean
                          default: false
                        can_share:
                          type: boolean
                          default: false
                        can_transfer:
                          type: boolean
                          default: false
                        can_view:
                          type: boolean
                          default: false
                    threadCount:
                      type: number
                  required:
                  - bundleId
                  - childOfId
                  - createdAt
                  - description
                  - kind
                  - name
                  - ownerId
                  - updatedAt
              to_collections:
                type: array
                items:
                  type: object
                  properties:
                    collectionId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    createdAt:
                      type: string
                    description:
                      anyOf:
                      - type: string
                      - type: 'null'
                    kind:
                      anyOf:
                      - type: string
                      - type: 'null'
                    name:
                      type: string
                    ownerId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    updatedAt:
                      type: string
                  required:
                  - collectionId
                  - createdAt
                  - description
                  - kind
                  - name
                  - ownerId
                  - updatedAt
              to_fabric_operations:
                type: array
                items:
                  type: object
                  properties:
                    abandonedAt:
                      anyOf:
                      - type: string
                      - type: 'null'
                    completedAt:
                      anyOf:
                      - type: string
                      - type: 'null'
                    createdAt:
                      type: string
                    createdById:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    description:
                      anyOf:
                      - type: string
                      - type: 'null'
                    id:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    kind:
                      type: string
                    metadata:
                      anyOf:
                      - type: number
                      - type: object
                      - type: string
                      - type: boolean
                      - type: 'null'
                    name:
                      type: string
                    primaryThreadId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    respondentId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    sourceTeamId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    startedAt:
                      anyOf:
                      - type: string
                      - type: 'null'
                    status:
                      type: string
                    targetTeamId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    updatedAt:
                      type: string
                    stateReasons:
                      anyOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/FabricStateChangeReason'
                      - type: 'null'
                  required:
                  - abandonedAt
                  - completedAt
                  - createdAt
                  - createdById
                  - description
                  - id
                  - kind
                  - metadata
                  - name
                  - primaryThreadId
                  - respondentId
                  - sourceTeamId
                  - startedAt
                  - status
                  - targetTeamId
                  - updatedAt
              to_fields:
                type: array
                items:
                  anyOf:
                  - $ref: '#/components/schemas/ThreadFieldResource'
                  - $ref: '#/components/schemas/ThreadFieldBoolean'
                  - $ref: '#/components/schemas/ThreadFieldDate'
                  - $ref: '#/components/schemas/ThreadFieldDateRange'
                  - $ref: '#/components/schemas/ThreadFieldDatetime'
                  - $ref: '#/components/schemas/ThreadFieldDuration'
                  - $ref: '#/components/schemas/ThreadFieldEmail'
                  - $ref: '#/components/schemas/ThreadFieldLongText'
                  - $ref: '#/components/schemas/ThreadFieldNumber'
                  - $ref: '#/components/schemas/ThreadFieldJson'
                  - $ref: '#/components/schemas/ThreadFieldPhone'
                  - $ref: '#/components/schemas/ThreadFieldSelect'
                  - $ref: '#/components/schemas/ThreadFieldSelectMany'
                  - $ref: '#/components/schemas/ThreadFieldTags'
                  - $ref: '#/components/schemas/ThreadFieldText'
                  - $ref: '#/components/schemas/ThreadFieldThread'
                  - $ref: '#/components/schemas/ThreadFieldTime'
                  - $ref: '#/components/schemas/ThreadFieldUrl'
              to_orgs:
                type: array
                items:
                  type: object
                  properties:
                    createdAt:
                      type: string
                    logo:
                      anyOf:
                      - type: string
                      - type: 'null'
                    name:
                      type: string
                    orgId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    slug:
                      anyOf:
                      - type: string
                      - type: 'null'
                    updatedAt:
                      type: string
                    website:
                      anyOf:
                      - type: string
                      - type: 'null'
                  required:
                  - createdAt
                  - logo
                  - name
                  - orgId
                  - slug
                  - updatedAt
                  - website
              to_relationships:
                type: array
                items:
                  type: object
                  properties:
                    archived:
                      type: boolean
                    createdAt:
                      type: string
                    description:
                      anyOf:
                      - type: string
                      - type: 'null'
                    forwardLabel:
                      type: string
                    inverseLabel:
                      type: string
                    metadata:
                      anyOf:
                      - type: number
                      - type: object
                      - type: string
                      - type: boolean
                      - type: 'null'
                    name:
                      type: string
                    ownerId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    relId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    slug:
                      type: string
                    updatedAt:
                      type: string
                  required:
                  - archived
                  - createdAt
                  - description
                  - forwardLabel
                  - inverseLabel
                  - metadata
                  - name
                  - ownerId
                  - relId
                  - slug
                  - updatedAt
              to_resources:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
              to_tags:
                type: array
                items:
                  type: object
                  properties:
                    archivedAt:
                      anyOf:
                      - type: string
                      - type: 'null'
                    createdAt:
                      type: string
                    description:
                      anyOf:
                      - type: string
                      - type: 'null'
                    isPrivate:
                      type: boolean
                    metadata:
                      anyOf:
                      - type: number
                      - type: object
                      - type: string
                      - type: boolean
                      - type: 'null'
                    name:
                      anyOf:
                      - type: string
                      - type: 'null'
                    ownerId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    tagId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    tagType:
                      type: string
                    threadId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    transferId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    transferredAt:
                      anyOf:
                      - type: string
                      - type: 'null'
                    updatedAt:
                      type: string
                    value:
                      type: string
                    indexing:
                      anyOf:
                      - const: default
                      - const: none
                      - type: 'null'
                    isBound:
                      anyOf:
                      - type: boolean
                      - type: 'null'
                  required:
                  - archivedAt
                  - createdAt
                  - description
                  - isPrivate
                  - metadata
                  - name
                  - ownerId
                  - tagId
                  - tagType
                  - threadId
                  - transferId
                  - transferredAt
                  - updatedAt
                  - value
              to_teams:
                type: array
                items:
                  type: object
                  properties:
                    createdAt:
                      type: string
                    description:
                      anyOf:
                      - type: string
                      - type: 'null'
                    detail:
                      anyOf:
                      - type: string
                      - type: 'null'
                    logo:
                      anyOf:
                      - type: string
                      - type: 'null'
                    name:
                      anyOf:
                      - type: string
                      - type: 'null'
                    orgId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    teamId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    updatedAt:
                      type: string
                    depth:
                      type: number
                    num_members:
                      type: number
                    org:
                      type: object
                      properties:
                        name:
                          type: string
                        orgId:
                          type: string
                      required:
                      - name
                      - orgId
                    path:
                      type: string
                  required:
                  - createdAt
                  - description
                  - detail
                  - logo
                  - name
                  - orgId
                  - teamId
                  - updatedAt
              to_thread_templates:
                type: array
                items:
                  $ref: '#/components/schemas/ThreadTemplate'
              to_threads:
                type: array
                items:
                  type: object
                  properties:
                    archivedAt:
                      anyOf:
                      - type: string
                      - type: 'null'
                    createdAt:
                      type: string
                    createdById:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    description:
                      anyOf:
                      - type: string
                      - type: 'null'
                    kind:
                      anyOf:
                      - type: string
                      - type: 'null'
                    labels:
                      anyOf:
                      - type: number
                      - type: object
                      - type: string
                      - type: boolean
                      - type: 'null'
                    lifecycleStatus:
                      type: string
                    name:
                      type: string
                    ownerId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    processingLockedAt:
                      anyOf:
                      - type: string
                      - type: 'null'
                    processingOperationId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    templateId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    threadId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    thumbnail: {}
                    thumbnailId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    transferId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    transferredAt:
                      anyOf:
                      - type: string
                      - type: 'null'
                    updatedAt:
                      type: string
                  required:
                  - archivedAt
                  - createdAt
                  - createdById
                  - description
                  - kind
                  - labels
                  - lifecycleStatus
                  - name
                  - ownerId
                  - processingLockedAt
                  - processingOperationId
                  - templateId
                  - threadId
                  - thumbnail
                  - thumbnailId
                  - transferId
                  - transferredAt
                  - updatedAt
              userKind:
                enum:
                - human
                - service
              userOrg:
                type: object
                properties:
                  createdAt:
                    type: string
                  logo:
                    anyOf:
                    - type: string
                    - type: 'null'
                  name:
                    type: string
                  orgId:
                    type: string
                    description: a RFC-4122-compliant UUID
                    pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                  slug:
                    anyOf:
                    - type: string
                    - type: 'null'
                  updatedAt:
                    type: string
                  website:
                    anyOf:
                    - type: string
                    - type: 'null'
                required:
                - createdAt
                - logo
                - name
                - orgId
                - slug
                - updatedAt
                - website
              userProfile:
                $ref: '#/components/schemas/Principal'
              userTeam:
                type: object
                properties:
                  createdAt:
                    type: string
                  description:
                    anyOf:
                    - type: string
                    - type: 'null'
                  detail:
                    anyOf:
                    - type: string
                    - type: 'null'
                  logo:
                    anyOf:
                    - type: string
                    - type: 'null'
                  name:
                    anyOf:
                    - type: string
                    - type: 'null'
                  orgId:
                    type: string
                    description: a RFC-4122-compliant UUID
                    pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                  teamId:
                    type: string
                    description: a RFC-4122-compliant UUID
                    pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                  updatedAt:
                    type: string
                  depth:
                    type: number
                  num_members:
                    type: number
                  org:
                    type: object
                    properties:
                      name:
                        type: string
                      orgId:
                        type: string
                    required:
                    - name
                    - orgId
                  path:
                    type: string
                required:
                - createdAt
                - description
                - detail
                - logo
                - name
                - orgId
                - teamId
                - updatedAt
            required:
            - action
            - comment
            - created
            - declaredActor
            - eventId
            - geolocation
            - ipAddress
            - namespace
            - occurred
            - operationId
            - operationName
            - payload
            - payload_version
            - topic
            - transactionId
            - userAgent
            - userId
            - userOrgId
            - userTeamId
        next:
          type: string
        prev:
          type: string
      required:
      - events
    ThreadTemplate:
      type: object
      properties:
        createdAt:
          type: string
        description:
          anyOf:
          - type: string
          - type: 'null'
        image: {}
        name:
          type: string
        ownerId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        slug:
          type: string
        spec:
          $ref: '#/components/schemas/ThreadTemplateSpec'
        templateId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        updatedAt:
          type: string
        owner:
          type: object
          properties:
            createdAt:
              type: string
            description:
              anyOf:
              - type: string
              - type: 'null'
            detail:
              anyOf:
              - type: string
              - type: 'null'
            logo:
              anyOf:
              - type: string
              - type: 'null'
            name:
              anyOf:
              - type: string
              - type: 'null'
            orgId:
              type: string
              description: a RFC-4122-compliant UUID
              pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
            teamId:
              type: string
              description: a RFC-4122-compliant UUID
              pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
            updatedAt:
              type: string
            depth:
              type: number
            num_members:
              type: number
            org:
              type: object
              properties:
                name:
                  type: string
                orgId:
                  type: string
              required:
              - name
              - orgId
            path:
              type: string
          required:
          - createdAt
          - description
          - detail
          - logo
          - name
          - orgId
          - teamId
          - updatedAt
        totalCount:
          type: number
      required:
      - createdAt
      - description
      - image
      - name
      - ownerId
      - slug
      - spec
      - templateId
      - updatedAt
    ThreadFieldTimeValue:
      type: object
      properties:
        time:
          type: string
      required:
      - time
    ThreadFieldEmail:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          const: email
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldEmailValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    ThreadFieldJson:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          const: object
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldJsonValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    ThreadFieldPhone:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          const: phone
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldPhoneValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    ThreadFieldDatetime:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          const: date-time
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldDatetimeValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    ThreadFieldNumber:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          const: number
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldNumberValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    ThreadFieldDefinitionTime:
      type: object
      properties:
        name:
          type: string
        type:
          const: time
        id:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          description: a UUID
          format: uuid
          default: 88398b08-4bbe-4d51-98da-82bc2a63e7a1
        isPrivate:
          type: boolean
          default: false
        isRequired:
          type: boolean
          default: false
        default:
          anyOf:
          - type: string
          - type: 'null'
        description:
          type: string
      required:
      - name
      - type
    ThreadFieldDefinitionSelect:
      type: object
      properties:
        name:
          type: string
        type:
          const: select
        id:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          description: a UUID
          format: uuid
          default: 5744fc81-01ea-47ed-b407-a7416b54703e
        isPrivate:
          type: boolean
          default: false
        isRequired:
          type: boolean
          default: false
        default:
          anyOf:
          - type: object
            properties:
              options:
                type: array
                items:
                  type: string
              selected:
                type: string
            required:
            - options
            - selected
          - type: 'null'
        description:
          type: string
      required:
      - name
      - type
    ThreadFieldDefinitionSelectMany:
      type: object
      properties:
        name:
          type: string
        type:
          const: select-many
        id:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          description: a UUID
          format: uuid
          default: 48c7ffbe-23b4-4f01-a457-140a4531b7e3
        isPrivate:
          type: boolean
          default: false
        isRequired:
          type: boolean
          default: false
        default:
          anyOf:
          - type: object
            properties:
              options:
                type: array
                items:
                  type: string
              selections:
                anyOf:
                - type: array
                  items:
                    type: string
                - type: 'null'
            required:
            - options
            - selections
          - type: 'null'
        description:
          type: string
      required:
      - name
      - type
    ThreadFieldDefinitionDatetime:
      type: object
      properties:
        name:
          type: string
        type:
          const: date-time
        id:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          description: a UUID
          format: uuid
          default: e8358975-3c3d-4b07-84ab-5a9e4810f34c
        isPrivate:
          type: boolean
          default: false
        isRequired:
          type: boolean
          default: false
        default:
          anyOf:
          - type: string
          - type: 'null'
        description:
          type: string
      required:
      - name
      - type
    ThreadFieldDatetimeValue:
      type: object
      properties:
        datetime:
          type: string
      required:
      - datetime
    ThreadFieldBoolean:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          const: boolean
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldBooleanValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    ThreadFieldDefinitionLongText:
      type: object
      properties:
        name:
          type: string
        type:
          const: long-text
        id:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          description: a UUID
          format: uuid
          default: 7ce96e4f-38d0-4c7d-8bd3-3f735aa0a2d9
        isPrivate:
          type: boolean
          default: false
        isRequired:
          type: boolean
          default: false
        default:
          anyOf:
          - type: string
          - type: 'null'
        description:
          type: string
      required:
      - name
      - type
    ThreadFieldDurationValue:
      type: object
      properties:
        duration:
          type: string
      required:
      - duration
    ThreadFieldTags:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          const: tags
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldTagsValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    ThreadFieldDefinitionResource:
      type: object
      properties:
        default:
          type: 'null'
        name:
          type: string
        type:
          enum:
          - audio
          - doc
          - file
          - image
          - pdf
          - video
        id:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          description: a UUID
          format: uuid
          default: 709f77e0-7134-4158-87b4-71f276af235a
        isPrivate:
          type: boolean
          default: false
        isRequired:
          type: boolean
          default: false
        description:
          type: string
      required:
      - default
      - name
      - type
    FabricStateChangeReason:
      type: object
      properties:
        createdAt:
          type: string
        fromState:
          enum:
          - abandoned
          - canceled
          - change_request
          - completed
          - draft
          - failed_retryable
          - processing
          - rejected
          - sent
        id:
          type: string
        message:
          type: string
        toState:
          enum:
          - abandoned
          - canceled
          - change_request
          - completed
          - draft
          - failed_retryable
          - processing
          - rejected
          - sent
        userEmail:
          type: string
        userId:
          type: string
        teamId:
          anyOf:
          - type: string
          - type: 'null'
        userAvatar:
          anyOf:
          - type: string
          - type: 'null'
        userName:
          anyOf:
          - type: string
          - type: 'null'
      required:
      - createdAt
      - fromState
      - id
      - message
      - toState
      - userEmail
      - userId
    ThreadFieldLongText:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          const: long-text
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldTextValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    ThreadFieldDefinitionTags:
      type: object
      properties:
        name:
          type: string
        type:
          const: tags
        id:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          description: a UUID
          format: uuid
          default: fa827b77-6f8f-4dcf-b7f9-77e702d9e133
        isPrivate:
          type: boolean
          default: false
        isRequired:
          type: boolean
          default: false
        default:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
        description:
          type: string
      required:
      - name
      - type
    ThreadFieldTagsValue:
      type: object
      properties:
        tags:
          type: array
          items:
            type: string
      required:
      - tags
    Resource:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        bucket:
          type: string
        checksum:
          anyOf:
          - type: string
            maxLength: 64
          - type: 'null'
        createdAt:
          type: string
        createdBy:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        filename:
          anyOf:
          - type: string
          - type: 'null'
        imageUris:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
        isPrivate:
          type: boolean
        key:
          type: string
        metadata:
          anyOf:
          - type: number
          - type: object
          - type: string
          - type: boolean
          - type: 'null'
        mimeType:
          anyOf:
          - type: string
          - type: 'null'
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        resId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        size:
          anyOf:
          - type: integer
            maximum: 9007199254740991
            minimum: -9007199254740991
          - type: 'null'
        status:
          anyOf:
          - type: string
          - type: 'null'
        thumbnail: {}
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          anyOf:
          - type: string
          - type: 'null'
        updatedAt:
          type: string
        signatures:
          anyOf:
          - type: array
            items:
              type: object
              properties:
                affiliation:
                  anyOf:
                  - type: string
                  - type: 'null'
                authorization:
                  anyOf:
                  - type: string
                  - type: 'null'
                date:
                  anyOf:
                  - type: string
                  - type: 'null'
                name:
                  anyOf:
                  - type: string
                  - type: 'null'
                resId:
                  type: string
                  description: a RFC-4122-compliant UUID
                  pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                signature:
                  anyOf:
                  - type: string
                  - type: 'null'
                signatureHash:
                  anyOf:
                  - type: string
                  - type: 'null'
                resource:
                  type: object
                  properties:
                    archivedAt:
                      anyOf:
                      - type: string
                      - type: 'null'
                    bucket:
                      type: string
                    checksum:
                      anyOf:
                      - type: string
                        maxLength: 64
                      - type: 'null'
                    createdAt:
                      type: string
                    createdBy:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    filename:
                      anyOf:
                      - type: string
                      - type: 'null'
                    imageUris:
                      anyOf:
                      - type: array
                        items:
                          type: string
                      - type: 'null'
                    isPrivate:
                      type: boolean
                    key:
                      type: string
                    metadata:
                      anyOf:
                      - type: number
                      - type: object
                      - type: string
                      - type: boolean
                      - type: 'null'
                    mimeType:
                      anyOf:
                      - type: string
                      - type: 'null'
                    name:
                      anyOf:
                      - type: string
                      - type: 'null'
                    ownerId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    resId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    size:
                      anyOf:
                      - type: integer
                        maximum: 9007199254740991
                        minimum: -9007199254740991
                      - type: 'null'
                    status:
                      anyOf:
                      - type: string
                      - type: 'null'
                    thumbnail: {}
                    transferId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    transferredAt:
                      anyOf:
                      - type: string
                      - type: 'null'
                    type:
                      anyOf:
                      - type: string
                      - type: 'null'
                    updatedAt:
                      type: string
                  required:
                  - archivedAt
                  - bucket
                  - checksum
                  - createdAt
                  - createdBy
                  - filename
                  - imageUris
                  - isPrivate
                  - key
                  - metadata
                  - mimeType
                  - name
                  - ownerId
                  - resId
                  - size
                  - status
                  - thumbnail
                  - transferId
                  - transferredAt
                  - type
                  - updatedAt
                thread:
                  type: object
                  properties:
                    archivedAt:
                      anyOf:
                      - type: string
                      - type: 'null'
                    createdAt:
                      type: string
                    createdById:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    description:
                      anyOf:
                      - type: string
                      - type: 'null'
                    kind:
                      anyOf:
                      - type: string
                      - type: 'null'
                    labels:
                      anyOf:
                      - type: number
                      - type: object
                      - type: string
                      - type: boolean
                      - type: 'null'
                    lifecycleStatus:
                      type: string
                    name:
                      type: string
                    ownerId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    processingLockedAt:
                      anyOf:
                      - type: string
                      - type: 'null'
                    processingOperationId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    templateId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    threadId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    thumbnail: {}
                    thumbnailId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    transferId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    transferredAt:
                      anyOf:
                      - type: string
                      - type: 'null'
                    updatedAt:
                      type: string
                  required:
                  - archivedAt
                  - createdAt
                  - createdById
                  - description
                  - kind
                  - labels
                  - lifecycleStatus
                  - name
                  - ownerId
                  - processingLockedAt
                  - processingOperationId
                  - templateId
                  - threadId
                  - thumbnail
                  - thumbnailId
                  - transferId
                  - transferredAt
                  - updatedAt
                verification:
                  type: object
                  properties:
                    created:
                      type: string
                    documentOrientation:
                      anyOf:
                      - type: number
                        maximum: 9007199254740991
                        minimum: -9007199254740991
                      - type: 'null'
                    documentQualityScore:
                      anyOf:
                      - type: number
                        maximum: 9007199254740991
                        minimum: -9007199254740991
                      - type: 'null'
                    lineItems:
                      anyOf:
                      - type: number
                      - type: object
                      - type: string
                      - type: boolean
                      - type: 'null'
                    processingTime:
                      anyOf:
                      - type: number
                        maximum: 9007199254740991
                        minimum: -9007199254740991
                      - type: 'null'
                    resId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    result:
                      anyOf:
                      - type: string
                      - type: 'null'
                    status:
                      type: string
                    teamId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    userId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    version:
                      type: integer
                      maximum: 2147483647
                      minimum: -2147483648
                  required:
                  - created
                  - documentOrientation
                  - documentQualityScore
                  - lineItems
                  - processingTime
                  - resId
                  - result
                  - status
                  - teamId
                  - userId
                  - version
              required:
              - affiliation
              - authorization
              - date
              - name
              - resId
              - signature
              - signatureHash
          - type: 'null'
        threads:
          anyOf:
          - type: array
            items:
              type: object
              properties:
                name:
                  anyOf:
                  - type: string
                  - type: 'null'
                threadId:
                  anyOf:
                  - type: string
                    description: a UUID
                    format: uuid
                    pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                  - const: 00000000-0000-0000-0000-000000000000
                    description: a UUID
                    format: uuid
                  - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                    description: a UUID
                    format: uuid
                  description: a UUID
                  format: uuid
              required:
              - name
              - threadId
          - type: 'null'
        verification:
          anyOf:
          - type: object
            properties:
              created:
                type: string
              documentOrientation:
                anyOf:
                - type: number
                  maximum: 9007199254740991
                  minimum: -9007199254740991
                - type: 'null'
              documentQualityScore:
                anyOf:
                - type: number
                  maximum: 9007199254740991
                  minimum: -9007199254740991
                - type: 'null'
              lineItems:
                anyOf:
                - type: number
                - type: object
                - type: string
                - type: boolean
                - type: 'null'
              processingTime:
                anyOf:
                - type: number
                  maximum: 9007199254740991
                  minimum: -9007199254740991
                - type: 'null'
              resId:
                type: string
                description: a RFC-4122-compliant UUID
                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
              result:
                anyOf:
                - type: string
                - type: 'null'
              status:
                type: string
              teamId:
                type: string
                description: a RFC-4122-compliant UUID
                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
              userId:
                type: string
                description: a RFC-4122-compliant UUID
                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
              version:
                type: integer
                maximum: 2147483647
                minimum: -2147483648
            required:
            - created
            - documentOrientation
            - documentQualityScore
            - lineItems
            - processingTime
            - resId
            - result
            - status
            - teamId
            - userId
            - version
          - type: 'null'
      required:
      - archivedAt
      - bucket
      - checksum
      - createdAt
      - createdBy
      - filename
      - imageUris
      - isPrivate
      - key
      - metadata
      - mimeType
      - name
      - ownerId
      - resId
      - size
      - status
      - thumbnail
      - transferId
      - transferredAt
      - type
      - updatedAt
    ThreadFieldDuration:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          const: duration
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldDurationValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    ThreadFieldNumberValue:
      type: object
      properties:
        number:
          type: number
          maximum: 140737488355327
          minimum: -140737488355328
      required:
      - number
    ThreadFieldJsonValue:
      type: object
      properties:
        json:
          anyOf:
          - type: number
          - type: object
          - type: string
          - type: boolean
          - type: 'null'
      required:
      - json
    ThreadFieldSelectValue:
      type: object
      properties:
        options:
          type: array
          items:
            type: string
        selected:
          anyOf:
          - type: string
          - type: 'null'
      required:
      - options
      - selected
    ThreadFieldResourceValue:
      type: object
      properties:
        resId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
      required:
      - resId
    ThreadFieldDefinitionJson:
      type: object
      properties:
        name:
          type: string
        type:
          const: object
        id:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          description: a UUID
          format: uuid
          default: f46e1465-eb29-4520-98af-b220e982e6e2
        isPrivate:
          type: boolean
          default: false
        isRequired:
          type: boolean
          default: false
        default:
          anyOf:
          - type: string
            description: a JSON string
          - type: 'null'
        description:
          type: string
      required:
      - name
      - type
    ThreadFieldBooleanValue:
      type: object
      properties:
        bool:
          type: boolean
      required:
      - bool
    ThreadFieldDefinitionText:
      type: object
      properties:
        name:
          type: string
        type:
          const: text
        id:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
[...]
