openapi: 3.2.0
info:
  title: DUST Fabric API
  description: DUST Platform API
  version: 2026.7.4
servers:
- url: https://apid.dustid.io
  description: DUST API for trusted provenance.
security:
- Bearer: []
tags:
- name: Fabric
paths:
  /api/v1/fabric/threads/{thread_id}/graph:
    get:
      operationId: fabric.graph
      parameters:
      - in: path
        name: thread_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      summary: Visible Fabric Graph for a thread
      description: Visible structural lineage for the thread. Downstream consumers see chain-wide upstream lineage (ADR-0024); source-side transferors receive receipt rows for outgoing transfers instead of recipient thread identity or downstream chain details (ADR-0027). Disclosed data is read per link via the link context endpoint.
      tags:
      - Fabric
      responses:
        '200':
          description: Fabric graph
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricGraphResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/threads/{thread_id}/versions:
    get:
      operationId: fabric.thread_versions
      parameters:
      - in: path
        name: thread_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      summary: Fabric Thread Versions for a thread
      description: The thread as disclosed through each Fabric Link it sources, one version per link (never merged). Readable chain-wide (ADR-0024) by any consumer of a link, even without live thread access; liveThreadAccess reports live can_view separately.
      tags:
      - Fabric
      responses:
        '200':
          description: Fabric thread versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricThreadVersionsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/links/{link_id}/context:
    get:
      operationId: fabric.link_context
      parameters:
      - in: path
        name: link_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      summary: Current disclosed data for a Fabric Link
      description: The link's current Fabric Disclosure (included assets with snapshots; redacted/removed markers without data), readable by downstream consumers (ADR-0024). Source transferors use disclosure-management endpoints and do not receive recipient thread identity through this read.
      tags:
      - Fabric
      responses:
        '200':
          description: Link context
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricLinkContextResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/threads/{thread_id}/disclosure/push/context:
    get:
      operationId: fabric.source_thread_context
      parameters:
      - in: path
        name: thread_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      summary: Source-side context for a Fabric disclosure push
      description: Current disclosure rows and event cursor for a source Thread, readable only by the owning (source) team. Disclosure is source-Thread scoped (ADR-0032); the payload intentionally excludes downstream target thread identity, link ids, and chain shape.
      tags:
      - Fabric
      responses:
        '200':
          description: Source thread context
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricSourceThreadContextResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/links/{link_id}/resources/{res_id}/content:
    get:
      operationId: fabric.link_resource_content
      parameters:
      - in: path
        name: link_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      - in: path
        name: res_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      - in: query
        name: download
        schema:
          type: string
      summary: Disclosed resource content for a Fabric Link
      description: A short-lived signed URL for the bytes of a resource disclosed through the Fabric Link, readable by downstream consumers (ADR-0024). Returns a redaction-gated signed URL (no tuples written), mirroring the files download architecture; `?download=1` requests attachment disposition.
      tags:
      - Fabric
      responses:
        '200':
          description: Disclosed resource content URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricLinkResourceContentResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/links/{link_id}/events:
    get:
      operationId: fabric.link_events
      parameters:
      - in: path
        name: link_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      - in: query
        name: excludeActionFilter
        schema:
          type: string
      - in: query
        name: groupBy
        schema:
          const: activity
      - in: query
        name: pageIndex
        schema:
          anyOf:
          - type: number
          - type: string
            pattern: ^(?:(?!^-0\.?0*$)(?:-?(?:(?:0|[1-9]\d*)(?:\.\d+)?)|\.\d+?))$
      - in: query
        name: pageSize
        schema:
          anyOf:
          - type: number
          - type: string
            pattern: ^(?:(?!^-0\.?0*$)(?:-?(?:(?:0|[1-9]\d*)(?:\.\d+)?)|\.\d+?))$
      - in: query
        name: targetId
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        description: a UUID
      - in: query
        name: targetKind
        schema:
          enum:
          - field
          - resource
          - tag
      summary: Fabric Event Views for a Fabric Link
      description: Source-thread and disclosed-asset events up to the link's event cursor, ordered by occurred time then event id. Events touching undisclosed targets carry redaction markers and no payload.
      tags:
      - Fabric
      responses:
        '200':
          description: Fabric event views (Activity Groups when grouped).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricLinkEventsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/links/{link_id}/timeline:
    get:
      operationId: fabric.link_timeline
      parameters:
      - in: path
        name: link_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      summary: Disclosure revision timeline for a Fabric Link
      tags:
      - Fabric
      responses:
        '200':
          description: Link timeline
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricLinkTimelineResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/links/{link_id}/assembly:
    get:
      operationId: fabric.link_assembly
      parameters:
      - in: path
        name: link_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      summary: Frozen Assembly Parts for a Fabric Link version
      description: The operation's frozen selected Parts scoped under the version's Assembly Thread (the link's source Thread), read from the Fabric Manifest Thread rows (ADR-0028). Readable by the source owner (audit) and chain consumers (ADR-0024); carries source-side structure only, never downstream target thread identity. Excluded Parts are silently omitted.
      tags:
      - Fabric
      responses:
        '200':
          description: Frozen assembly parts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricLinkAssemblyResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/threads/{thread_id}/disclosure/preview:
    post:
      operationId: fabric.preview_disclosure_change
      parameters:
      - in: path
        name: thread_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FabricDisclosurePreviewRequest'
      summary: Preview a disclosure revision or redaction
      description: Pure read preview of a source-Thread disclosure revision or redaction (ADR-0032). Fan-out is chain-wide under ADR-0024, but the source-side preview only confirms the change is visible through the fabric chain — it never reveals downstream chain size, link ids, or participant identities.
      tags:
      - Fabric
      responses:
        '200':
          description: Disclosure change preview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricDisclosurePreviewResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/threads/{thread_id}/disclosure/revise:
    post:
      operationId: fabric.revise_disclosure
      parameters:
      - in: path
        name: thread_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FabricDisclosureChangeRequest'
      summary: Revise Fabric Disclosure
      description: Includes newly disclosed assets or refreshes snapshots for already-included assets on a source Thread. Revisions require a source-side reason and notify the whole downstream chain.
      tags:
      - Fabric
      responses:
        '200':
          description: Disclosure revision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricRevisionMutationResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/threads/{thread_id}/disclosure/redact:
    post:
      operationId: fabric.redact_disclosure
      parameters:
      - in: path
        name: thread_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FabricDisclosureChangeRequest'
      summary: Redact disclosed Fabric assets
      description: Explicit audited redaction removes already-disclosed assets of a source Thread from future fabric views without deleting historical revision records.
      tags:
      - Fabric
      responses:
        '200':
          description: Disclosure redaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricRevisionMutationResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/threads/{thread_id}/cursor/preview:
    post:
      operationId: fabric.preview_cursor_advance
      parameters:
      - in: path
        name: thread_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FabricCursorPreviewRequest'
      summary: Preview Fabric event cursor advancement
      tags:
      - Fabric
      responses:
        '200':
          description: Cursor advancement preview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricCursorPreviewResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/threads/{thread_id}/cursor/advance:
    post:
      operationId: fabric.advance_cursor
      parameters:
      - in: path
        name: thread_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FabricCursorAdvanceRequest'
      summary: Advance Fabric event cursor
      description: Moves the source Thread's occurred-time event cursor forward and refreshes included asset snapshots for the new boundary.
      tags:
      - Fabric
      responses:
        '200':
          description: Advanced cursor revision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricRevisionMutationResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/threads/{thread_id}/disclosure/push/preview:
    post:
      operationId: fabric.preview_disclosure_push
      parameters:
      - in: path
        name: thread_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FabricDisclosurePushPreviewRequest'
      summary: Preview a Disclosure Push
      description: 'Pure read preview of a source-Thread Disclosure Push (ADR-0026, ADR-0032): per-asset eligibility/disposition for the selected assets, the Fabric Event Views that the push-time cursor would reveal, and a privacy-safe chain-visibility marker. Never reveals downstream chain size, link ids, or participant identities.'
      tags:
      - Fabric
      responses:
        '200':
          description: Disclosure push preview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricDisclosurePushPreviewResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/threads/{thread_id}/disclosure/push:
    post:
      operationId: fabric.disclosure_push
      parameters:
      - in: path
        name: thread_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FabricDisclosurePushRequest'
      summary: Disclosure Push
      description: 'One reviewed source-side act (ADR-0026, ADR-0032): revises the selected eligible disclosed assets and advances the source Thread''s event cursor to the push time in one transaction, recorded as one `push` revision and read through every outgoing Fabric Link from the Thread. Requires a reason. Notifies downstream asset-level for the selected assets only; a cursor-only push notifies no one. Newly visible events are informational and create no per-event adoption decisions.'
      tags:
      - Fabric
      responses:
        '200':
          description: Disclosure push
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricDisclosurePushResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/notifications:
    get:
      operationId: fabric.list_notifications
      parameters:
      - in: query
        name: limit
        schema:
          anyOf:
          - type: number
          - type: string
            pattern: ^(?:(?!^-0\.?0*$)(?:-?(?:(?:0|[1-9]\d*)(?:\.\d+)?)|\.\d+?))$
      - in: query
        name: status
        schema:
          enum:
          - dismissed
          - pending
          - resolved
      summary: List Fabric notifications for the downstream owner
      tags:
      - Fabric
      responses:
        '200':
          description: Fabric notifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricNotificationsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/notifications/dismiss:
    post:
      operationId: fabric.dismiss_notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DismissFabricNotificationsRequest'
      summary: Dismiss pending Fabric notifications for the given threads
      description: Clears the downstream reminder for the acting team's selected destination threads (sets pending notifications to dismissed). Records no adoption decision and never mutates thread data — the underlying disclosures stay reviewable in the Fabric Explorer.
      tags:
      - Fabric
      responses:
        '200':
          description: Dismissed notification count
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DismissFabricNotificationsResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/notifications/{notification_id}/preview:
    post:
      operationId: fabric.preview_notification_decision
      parameters:
      - in: path
        name: notification_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      summary: Preview accepting a Fabric notification
      tags:
      - Fabric
      responses:
        '200':
          description: Fabric decision preview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricDecisionPreviewResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/notifications/{notification_id}/accept:
    post:
      operationId: fabric.accept_notification
      parameters:
      - in: path
        name: notification_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptFabricNotificationRequest'
      summary: Accept a Fabric notification
      description: Records a target-side Fabric Decision and applies the upstream disclosed change to the mapped active target asset when there is no conflict.
      tags:
      - Fabric
      responses:
        '200':
          description: Fabric decision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricDecisionResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/notifications/{notification_id}/reject:
    post:
      operationId: fabric.reject_notification
      parameters:
      - in: path
        name: notification_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectFabricNotificationRequest'
      summary: Reject a Fabric notification
      description: Records a provenance-only target-side Fabric Decision with the required rejection reason. Rejection does not hide upstream fabric visibility.
      tags:
      - Fabric
      responses:
        '200':
          description: Fabric decision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricDecisionResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/links/{consumer_link_id}/disclosure/sources/{source_link_id}/sync:
    get:
      operationId: fabric.preview_link_disclosure_sync
      parameters:
      - in: path
        name: consumer_link_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      - in: path
        name: source_link_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      summary: Review a source link's disclosed state for adoption
      description: 'Read-only Disclosure Sync (ADR-0036): the selected upstream source link''s currently-included disclosure datums, binned for the destination''s consumer link (adopt-new / update / in-sync / needs-review / certificate review / skipped / hidden). View/team-level access; mutating decisions require edit access on the destination thread.'
      tags:
      - Fabric
      responses:
        '200':
          description: Disclosure sync rows
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricLinkSyncResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/links/{consumer_link_id}/disclosure/sources/{source_link_id}/sync/adopt:
    post:
      operationId: fabric.adopt_disclosed_asset
      parameters:
      - in: path
        name: consumer_link_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      - in: path
        name: source_link_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdoptDisclosedAssetRequest'
      summary: Adopt a disclosed datum into the destination thread
      description: Records an accepted Fabric Decision and applies the upstream disclosed datum (adopt-new for a direct consumer, or update a mapped asset). A disclosed certificate is acknowledged only. Requires edit access on the destination thread.
      tags:
      - Fabric
      responses:
        '200':
          description: Fabric decision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricDecisionResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/links/{consumer_link_id}/disclosure/sources/{source_link_id}/sync/decline:
    post:
      operationId: fabric.decline_disclosed_asset
      parameters:
      - in: path
        name: consumer_link_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      - in: path
        name: source_link_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeclineDisclosedAssetRequest'
      summary: Decline (skip) a disclosed datum
      description: Records a provenance-only rejected Fabric Decision (the destination skips the disclosed datum). The optional note defaults to system text. Declining never hides upstream fabric visibility. Requires edit access on the destination thread.
      tags:
      - Fabric
      responses:
        '200':
          description: Fabric decision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricDecisionResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/links/{consumer_link_id}/disclosure/sources/{source_link_id}/sync/hide-local-copy:
    post:
      operationId: fabric.hide_disclosed_asset_local_copy
      parameters:
      - in: path
        name: consumer_link_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      - in: path
        name: source_link_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HideDisclosedAssetLocalCopyRequest'
      summary: Hide the local copy of a withdrawn disclosed datum
      description: 'For an upstream redacted/removed disclosure with a mapped local copy: makes the local Field/Resource/Identifier private and archived (reversible). Flags when the local copy was disclosed onward and still needs outgoing redaction. Requires edit access on the destination thread.'
      tags:
      - Fabric
      responses:
        '200':
          description: Fabric decision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricDecisionResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/fabric/links/{consumer_link_id}/disclosure/sources/{source_link_id}/sync/adopt-batch:
    post:
      operationId: fabric.adopt_disclosed_assets
      parameters:
      - in: path
        name: consumer_link_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      - in: path
        name: source_link_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdoptDisclosedAssetsRequest'
      summary: Adopt several disclosed datums atomically
      description: 'Atomic batch adopt (ADR-0036): all supplied datums are adopted in one transaction; any conflict rolls back the whole batch. Callers pass only eligible add/update datums. Requires edit access on the destination thread.'
      tags:
      - Fabric
      responses:
        '200':
          description: Batch fabric decisions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricAdoptBatchResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
components:
  schemas:
    ThreadFieldSelectMany:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          const: select-many
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldSelectManyValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    FabricDisclosurePushPreviewGroup:
      type: object
      properties:
        eventCount:
          type: number
        events:
          type: array
          items:
            $ref: '#/components/schemas/FabricDisclosurePushPreviewEvent'
        id:
          type: string
        kind:
          enum:
          - fabric_operation
          - runner_operation
        newlyVisible:
          type: boolean
        occurred:
          type: string
        title:
          anyOf:
          - type: string
          - type: 'null'
      required:
      - eventCount
      - events
      - id
      - kind
      - newlyVisible
      - occurred
    ThreadFieldPhoneValue:
      type: object
      properties:
        phone:
          type: string
      required:
      - phone
    ThreadFieldDefinitionDate:
      type: object
      properties:
        name:
          type: string
        type:
          const: date
        id:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          description: a UUID
          format: uuid
          default: 386ff857-2e20-41e6-b97f-6a626481fa89
        isPrivate:
          type: boolean
          default: false
        isRequired:
          type: boolean
          default: false
        default:
          anyOf:
          - type: string
          - type: 'null'
        description:
          type: string
      required:
      - name
      - type
    ThreadFieldSelect:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          const: select
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldSelectValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    DismissFabricNotificationsRequest:
      type: object
      properties:
        targetThreadIds:
          type: array
          items:
            anyOf:
            - type: string
              description: a UUID
              format: uuid
              pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
            - const: 00000000-0000-0000-0000-000000000000
              description: a UUID
              format: uuid
            - const: ffffffff-ffff-ffff-ffff-ffffffffffff
              description: a UUID
              format: uuid
            description: a UUID
            format: uuid
      required:
      - targetThreadIds
    DismissFabricNotificationsResponse:
      type: object
      properties:
        dismissed:
          type: number
      required:
      - dismissed
    FabricSourceThreadContextResponse:
      type: object
      properties:
        disclosures:
          type: array
          items:
            $ref: '#/components/schemas/FabricLinkDisclosureEntry'
        eventCursorOccurredAt:
          anyOf:
          - type: string
          - type: 'null'
        thread:
          $ref: '#/components/schemas/FabricSourceThreadContextThread'
      required:
      - disclosures
      - eventCursorOccurredAt
      - thread
    ThreadFieldDateRange:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          const: date-range
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldDateRangeValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    ThreadFieldText:
      type: object
      properties:
        archivedAt:
          anyOf:
          - type: string
          - type: 'null'
        createdAt:
          type: string
        defId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
        fieldId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        isPrivate:
          type: boolean
        isRequired:
          type: boolean
        name:
          anyOf:
          - type: string
          - type: 'null'
        ownerId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        sortPriority:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        transferId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        transferredAt:
          anyOf:
          - type: string
          - type: 'null'
        type:
          const: text
        updatedAt:
          type: string
        value:
          anyOf:
          - $ref: '#/components/schemas/ThreadFieldTextValue'
          - type: 'null'
      required:
      - archivedAt
      - createdAt
      - defId
      - description
      - fieldId
      - isPrivate
      - isRequired
      - name
      - ownerId
      - sortPriority
      - transferId
      - transferredAt
      - type
      - updatedAt
      - value
    FabricThreadVersionsResponse:
      type: object
      properties:
        liveThreadAccess:
          type: boolean
        threadId:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          description: a UUID
          format: uuid
        versions:
          type: array
          items:
            $ref: '#/components/schemas/FabricThreadVersion'
      required:
      - liveThreadAccess
      - threadId
      - versions
    ThreadFieldDefinitionNumber:
      type: object
      properties:
        name:
          type: string
        type:
          const: number
        id:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          description: a UUID
          format: uuid
          default: 88007de5-4857-4391-890f-0e22663116b9
        isPrivate:
          type: boolean
          default: false
        isRequired:
          type: boolean
          default: false
        default:
          anyOf:
          - type: number
          - type: 'null'
        description:
          type: string
      required:
      - name
      - type
    ThreadFieldThreadValue:
      type: object
      properties:
        threadId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
      required:
      - threadId
    ThreadTemplate:
      type: object
      properties:
        createdAt:
          type: string
        description:
          anyOf:
          - type: string
          - type: 'null'
        image: {}
        name:
          type: string
        ownerId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        slug:
          type: string
        spec:
          $ref: '#/components/schemas/ThreadTemplateSpec'
        templateId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        updatedAt:
          type: string
        owner:
          type: object
          properties:
            createdAt:
              type: string
            description:
              anyOf:
              - type: string
              - type: 'null'
            detail:
              anyOf:
              - type: string
              - type: 'null'
            logo:
              anyOf:
              - type: string
              - type: 'null'
            name:
              anyOf:
              - type: string
              - type: 'null'
            orgId:
              type: string
              description: a RFC-4122-compliant UUID
              pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
            teamId:
              type: string
              description: a RFC-4122-compliant UUID
              pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
            updatedAt:
              type: string
            depth:
              type: number
            num_members:
              type: number
            org:
              type: object
              properties:
                name:
                  type: string
                orgId:
                  type: string
              required:
              - name
              - orgId
            path:
              type: string
          required:
          - createdAt
          - description
          - detail
          - logo
          - name
          - orgId
          - teamId
          - updatedAt
        totalCount:
          type: number
      required:
      - createdAt
      - description
      - image
      - name
      - ownerId
      - slug
      - spec
      - templateId
      - updatedAt
    FabricTeamDisplay:
      type: object
      properties:
        teamId:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          description: a UUID
          format: uuid
        orgId:
          anyOf:
          - type: string
          - type: 'null'
        orgLogo:
          anyOf:
          - type: string
          - type: 'null'
        orgName:
          anyOf:
          - type: string
          - type: 'null'
        teamName:
          anyOf:
          - type: string
          - type: 'null'
      required:
      - teamId
    FabricDisclosedEvent:
      type: object
      properties:
        action:
          type: string
          maxLength: 64
        comment:
          anyOf:
          - type: string
          - type: 'null'
        created:
          type: string
        declaredActor:
          anyOf:
          - type: object
            properties:
              id:
                type: string
                maxLength: 128
                minLength: 1
              displayName:
                type: string
                maxLength: 128
              role:
                type: string
                maxLength: 64
              system:
                type: string
                maxLength: 64
            required:
            - id
          - type: 'null'
        eventId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        geolocation:
          anyOf:
          - type: number
          - type: object
          - type: string
          - type: boolean
          - type: 'null'
        ipAddress:
          anyOf:
          - type: string
          - type: 'null'
        namespace:
          anyOf:
          - type: string
          - type: 'null'
        occurred:
          type: string
        operationId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        operationName:
          anyOf:
          - type: string
          - type: 'null'
        payload:
          anyOf:
          - type: number
          - type: object
          - type: string
          - type: boolean
          - type: 'null'
        payload_version:
          type: string
          maxLength: 16
        redacted:
          type: boolean
        topic:
          anyOf:
          - type: string
          - type: 'null'
        transactionId:
          anyOf:
          - type: string
            description: a RFC-4122-compliant UUID
            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
          - type: 'null'
        userAgent:
          anyOf:
          - type: string
          - type: 'null'
        userId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        userOrgId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        userTeamId:
          type: string
          description: a RFC-4122-compliant UUID
          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
        to_bundles:
          type: array
          items:
            type: object
            properties:
              bundleId:
                type: string
                description: a RFC-4122-compliant UUID
                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
              childOfId:
                anyOf:
                - type: string
                  description: a RFC-4122-compliant UUID
                  pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                - type: 'null'
              createdAt:
                type: string
              description:
                anyOf:
                - type: string
                - type: 'null'
              kind:
                type: string
              name:
                type: string
              ownerId:
                type: string
                description: a RFC-4122-compliant UUID
                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
              updatedAt:
                type: string
              depth:
                type: number
              hasChildren:
                type: boolean
              idPath:
                type: array
                items:
                  type: string
              isSharedOut:
                type: boolean
              path:
                type: array
                items:
                  type: string
              permissions:
                type: object
                properties:
                  can_edit:
                    type: boolean
                    default: false
                  can_publish:
                    type: boolean
                    default: false
                  can_share:
                    type: boolean
                    default: false
                  can_transfer:
                    type: boolean
                    default: false
                  can_view:
                    type: boolean
                    default: false
              threadCount:
                type: number
            required:
            - bundleId
            - childOfId
            - createdAt
            - description
            - kind
            - name
            - ownerId
            - updatedAt
        to_collections:
          type: array
          items:
            type: object
            properties:
              collectionId:
                type: string
                description: a RFC-4122-compliant UUID
                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
              createdAt:
                type: string
              description:
                anyOf:
                - type: string
                - type: 'null'
              kind:
                anyOf:
                - type: string
                - type: 'null'
              name:
                type: string
              ownerId:
                type: string
                description: a RFC-4122-compliant UUID
                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
              updatedAt:
                type: string
            required:
            - collectionId
            - createdAt
            - description
            - kind
            - name
            - ownerId
            - updatedAt
        to_fabric_operations:
          type: array
          items:
            type: object
            properties:
              abandonedAt:
                anyOf:
                - type: string
                - type: 'null'
              completedAt:
                anyOf:
                - type: string
                - type: 'null'
              createdAt:
                type: string
              createdById:
                anyOf:
                - type: string
                  description: a RFC-4122-compliant UUID
                  pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                - type: 'null'
              description:
                anyOf:
                - type: string
                - type: 'null'
              id:
                type: string
                description: a RFC-4122-compliant UUID
                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
              kind:
                type: string
              metadata:
                anyOf:
                - type: number
                - type: object
                - type: string
                - type: boolean
                - type: 'null'
              name:
                type: string
              primaryThreadId:
                anyOf:
                - type: string
                  description: a RFC-4122-compliant UUID
                  pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                - type: 'null'
              respondentId:
                anyOf:
                - type: string
                  description: a RFC-4122-compliant UUID
                  pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                - type: 'null'
              sourceTeamId:
                type: string
                description: a RFC-4122-compliant UUID
                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
              startedAt:
                anyOf:
                - type: string
                - type: 'null'
              status:
                type: string
              targetTeamId:
                anyOf:
                - type: string
                  description: a RFC-4122-compliant UUID
                  pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                - type: 'null'
              updatedAt:
                type: string
              stateReasons:
                anyOf:
                - type: array
                  items:
                    $ref: '#/components/schemas/FabricStateChangeReason'
                - type: 'null'
            required:
            - abandonedAt
            - completedAt
            - createdAt
            - createdById
            - description
            - id
            - kind
            - metadata
            - name
            - primaryThreadId
            - respondentId
            - sourceTeamId
            - startedAt
            - status
            - targetTeamId
            - updatedAt
        to_fields:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/ThreadFieldResource'
            - $ref: '#/components/schemas/ThreadFieldBoolean'
            - $ref: '#/components/schemas/ThreadFieldDate'
            - $ref: '#/components/schemas/ThreadFieldDateRange'
            - $ref: '#/components/schemas/ThreadFieldDatetime'
            - $ref: '#/components/schemas/ThreadFieldDuration'
            - $ref: '#/components/schemas/ThreadFieldEmail'
            - $ref: '#/components/schemas/ThreadFieldLongText'
            - $ref: '#/components/schemas/ThreadFieldNumber'
            - $ref: '#/components/schemas/ThreadFieldJson'
            - $ref: '#/components/schemas/ThreadFieldPhone'
            - $ref: '#/components/schemas/ThreadFieldSelect'
            - $ref: '#/components/schemas/ThreadFieldSelectMany'
            - $ref: '#/components/schemas/ThreadFieldTags'
            - $ref: '#/components/schemas/ThreadFieldText'
            - $ref: '#/components/schemas/ThreadFieldThread'
            - $ref: '#/components/schemas/ThreadFieldTime'
            - $ref: '#/components/schemas/ThreadFieldUrl'
        to_orgs:
          type: array
          items:
            type: object
            properties:
              createdAt:
                type: string
              logo:
                anyOf:
                - type: string
                - type: 'null'
              name:
                type: string
              orgId:
                type: string
                description: a RFC-4122-compliant UUID
                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
              slug:
                anyOf:
                - type: string
                - type: 'null'
              updatedAt:
                type: string
              website:
                anyOf:
                - type: string
                - type: 'null'
            required:
            - createdAt
            - logo
            - name
            - orgId
            - slug
            - updatedAt
            - website
        to_relationships:
          type: array
          items:
            type: object
            properties:
              archived:
                type: boolean
              createdAt:
                type: string
              description:
                anyOf:
                - type: string
                - type: 'null'
              forwardLabel:
                type: string
              inverseLabel:
                type: string
              metadata:
                anyOf:
                - type: number
                - type: object
                - type: string
                - type: boolean
                - type: 'null'
              name:
                type: string
              ownerId:
                type: string
                description: a RFC-4122-compliant UUID
                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
              relId:
                type: string
                description: a RFC-4122-compliant UUID
                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
              slug:
                type: string
              updatedAt:
                type: string
            required:
            - archived
            - createdAt
            - description
            - forwardLabel
            - inverseLabel
            - metadata
            - name
            - ownerId
            - relId
            - slug
            - updatedAt
        to_resources:
          type: array
          items:
            $ref: '#/components/schemas/Resource'
        to_tags:
          type: array
          items:
            type: object
            properties:
              archivedAt:
                anyOf:
[...]
