openapi: 3.2.0
info:
  title: DUST Transfers API
  description: DUST Platform API
  version: 2026.7.4
servers:
- url: https://apid.dustid.io
  description: DUST API for trusted provenance.
security:
- Bearer: []
tags:
- name: Transfers
  description: Transfer ownership of threads across organizations
paths:
  /api/v1/transfers:
    get:
      operationId: transfer.list
      parameters:
      - in: query
        name: box
        schema:
          enum:
          - inbox
          - outbox
          - sent
      - in: query
        name: direction
        schema:
          enum:
          - inbound
          - outbound
      - in: query
        name: pageIndex
        schema:
          anyOf:
          - type: number
          - type: string
            pattern: ^(?:(?!^-0\.?0*$)(?:-?(?:(?:0|[1-9]\d*)(?:\.\d+)?)|\.\d+?))$
      - in: query
        name: pageSize
        schema:
          anyOf:
          - type: number
          - type: string
            pattern: ^(?:(?!^-0\.?0*$)(?:-?(?:(?:0|[1-9]\d*)(?:\.\d+)?)|\.\d+?))$
      - in: query
        name: q
        schema:
          type: string
      - in: query
        name: status
        schema:
          enum:
          - abandoned
          - canceled
          - change_request
          - completed
          - draft
          - failed_retryable
          - processing
          - rejected
          - sent
      - in: query
        name: view
        schema:
          enum:
          - all
          - completed
          - draft
          - in_progress
          - received
      summary: List transfers for the active team (status views or mail-box)
      description: 'Listing of Transfer Fabric Operations. Preferred `view` semantics: `all` = every transfer the team is party to; `draft` = the team''s editable shipments; `in_progress` = dispatched but unfinished, either direction; `completed` = shipments the team sent that finished; `received` = shipments the team received that finished. Legacy mail-box `box` (`inbox`/`outbox`/`sent`) still supported and takes precedence.'
      tags:
      - Transfers
      responses:
        '200':
          description: Transfers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
    post:
      operationId: transfer.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                description:
                  type: string
              required:
              - name
      summary: Create a draft Transfer
      tags:
      - Transfers
      responses:
        '200':
          description: Created transfer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferOperation'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/transfers/{transfer_id}:
    get:
      operationId: transfer.get
      parameters:
      - in: path
        name: transfer_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      summary: Get a Transfer with its Fabric Manifest items
      description: Visible to admins of the sending team and, once sent, admins of the receiving team.
      tags:
      - Transfers
      responses:
        '200':
          description: Transfer detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferGetResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/transfers/{transfer_id}/preview:
    get:
      operationId: transfer.preview
      parameters:
      - in: path
        name: transfer_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      summary: Authoritative Transfer Preview for a sent Transfer
      description: 'The frozen `sent` manifest (ADR-0037) projected live as one preview per effective processing Thread: copied Thread data plus the Fabric Disclosure that becomes visible on acceptance, with offered Assembly Part structure and any Folder/Category placement. Available to admins of either party once the Transfer is `sent` (and while `processing`/`failed_retryable`); not available while it is still editable (`draft`/`change_request`).'
      tags:
      - Transfers
      responses:
        '200':
          description: Transfer preview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferPreviewResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/transfers/{transfer_id}/preview/resources/{res_id}/content:
    get:
      operationId: transfer.preview_resource_content
      parameters:
      - in: path
        name: res_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      - in: path
        name: transfer_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      - in: query
        name: download
        schema:
          type: string
      summary: Offered Resource content for a Transfer Preview
      description: A short-lived signed URL for the bytes of a Resource offered in the Transfer Preview. Authorizes by previewable transfer + party admin + membership in the frozen `sent` manifest's selected source assets, not by recipient Thread access (recipient Threads do not exist before acceptance). `?download=1` requests attachment disposition.
      tags:
      - Transfers
      responses:
        '200':
          description: Offered resource content URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferPreviewResourceContentResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/transfers/{transfer_id}/preview/graph:
    get:
      operationId: transfer.preview_graph
      parameters:
      - in: path
        name: transfer_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      - in: query
        name: sourceThreadId
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        description: a UUID
      summary: Pre-acceptance provenance graph for a sent Transfer
      description: 'The frozen `sent` manifest projected live into the Fabric Graph shape (receiver preview provenance, extends ADR-0037): BOM-scoped nodes (the offered Threads, with Assembly structure on `parentAssembly`/`kind`) plus one incoming-transfer receipt per Thread. Redacted to the offered/disclosed set. Available to admins of either party once `sent` (and while `processing`/`failed_retryable`).'
      tags:
      - Transfers
      responses:
        '200':
          description: Preview provenance graph
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricGraphResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/transfers/{transfer_id}/preview/threads/{source_thread_id}/events:
    get:
      operationId: transfer.preview_thread_events
      parameters:
      - in: path
        name: source_thread_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      - in: path
        name: transfer_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      - in: query
        name: excludeActionFilter
        schema:
          type: string
      summary: Disclosed transaction history for an offered Thread
      description: The disclosed event history for one offered Thread in the frozen `sent` manifest, projected live and scoped to the offered/disclosed asset set and the offered BOM — mirroring exactly what acceptance would fix as event-disclosure. NOT_FOUND when the Thread is not part of the preview.
      tags:
      - Transfers
      responses:
        '200':
          description: Disclosed thread history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferPreviewThreadEventsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/transfers/{transfer_id}/send:
    post:
      operationId: transfer.send
      parameters:
      - in: path
        name: transfer_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                toId:
                  anyOf:
                  - type: string
                    description: a UUID
                    format: uuid
                    pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                  - const: 00000000-0000-0000-0000-000000000000
                    description: a UUID
                    format: uuid
                  - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                    description: a UUID
                    format: uuid
                  description: a UUID
                  format: uuid
              required:
              - toId
      summary: Send a draft Transfer to a receiving team
      description: Sets the target team and moves the transfer to `sent`. Transfers are cross-organization only; the receiving team must respond before anything is processed.
      tags:
      - Transfers
      responses:
        '200':
          description: Sent
          content:
            application/json:
              schema:
                type: boolean
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/transfers/{transfer_id}/respond:
    post:
      operationId: transfer.finalize
      parameters:
      - in: path
        name: transfer_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - type: object
                properties:
                  reason:
                    type: string
                    minLength: 1
                  value:
                    const: request_changes
                required:
                - reason
                - value
              - type: object
                properties:
                  value:
                    enum:
                    - accept
                    - reject
                  reason:
                    type: string
                required:
                - value
      summary: Respond to a received Transfer (accept / reject / request changes)
      description: Receiving-team response. `accept` starts processing immediately and cannot be undone; `request_changes` returns the transfer to the sender for editing.
      tags:
      - Transfers
      responses:
        '200':
          description: Responded
          content:
            application/json:
              schema:
                type: boolean
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/transfers/{transfer_id}/messages:
    post:
      operationId: transfer.post_message
      parameters:
      - in: path
        name: transfer_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTransferMessageRequest'
      summary: Post a message on a Transfer's conversation
      description: Either party (sending or receiving team) can post a free-form message on the shipment. Messages are recorded in the same append-only history as change-request / reject / accept notes, but carry no state transition.
      tags:
      - Transfers
      responses:
        '200':
          description: Message posted
          content:
            application/json:
              schema:
                type: boolean
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/transfers/{transfer_id}/cancel:
    post:
      operationId: transfer.cancel
      parameters:
      - in: path
        name: transfer_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      summary: Cancel a draft, sent, or change-requested Transfer
      description: Cancels a shipment the sending team still owns (`draft`/`sent`/`change_request`), releasing any source-thread freeze. An optional reason is recorded in the shipment's negotiation log. Admin of the source team.
      tags:
      - Transfers
      responses:
        '200':
          description: Canceled
          content:
            application/json:
              schema:
                type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/transfers/{transfer_id}/retry:
    post:
      operationId: transfer.retry
      parameters:
      - in: path
        name: transfer_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      summary: Retry a failed Transfer
      description: Re-enqueues processing for a `failed_retryable` transfer. Processing is idempotent (pre-allocated Fabric Links, deterministic resource keys). Admin of either party team.
      tags:
      - Transfers
      responses:
        '200':
          description: Retrying
          content:
            application/json:
              schema:
                type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/transfers/{transfer_id}/abandon:
    post:
      operationId: transfer.abandon
      parameters:
      - in: path
        name: transfer_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  minLength: 1
              required:
              - reason
      summary: Abandon a failed Transfer
      description: Gives up on a `failed_retryable` transfer, moving it to `abandoned` and releasing the source-thread processing locks so those threads can be re-transferred. Admin of either party team.
      tags:
      - Transfers
      responses:
        '200':
          description: Abandoned
          content:
            application/json:
              schema:
                type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/transfers/{transfer_id}/start-from-prior-manifest:
    post:
      operationId: transfer.start_from_prior_manifest
      parameters:
      - in: path
        name: transfer_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type: string
      summary: Start a new shipment from a stopped shipment's manifest
      description: Reuses a stopped shipment's selected manifest intent to start a fresh editable `draft` owned by the source team, so it can be adjusted and sent through the normal review path (e.g. after a rejection, cancellation, abandonment, or failed processing). This does not duplicate Thread data, create recipient Threads, or change the historical shipment; it records the old/new shipment linkage and an optional note. Fails if a source thread is no longer available to transfer. Admin of the source team.
      tags:
      - Transfers
      responses:
        '200':
          description: New shipment draft
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferOperation'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/transfers/{transfer_id}/items:
    post:
      operationId: transfer.add_item
      parameters:
      - in: path
        name: transfer_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - type: object
                properties:
                  kind:
                    type: string
                  name:
                    type: string
                  source:
                    anyOf:
                    - type: object
                      properties:
                        bundleId:
                          anyOf:
                          - type: string
                            description: a UUID
                            format: uuid
                            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                          - const: 00000000-0000-0000-0000-000000000000
                            description: a UUID
                            format: uuid
                          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                            description: a UUID
                            format: uuid
                          description: a UUID
                          format: uuid
                        type:
                          const: bundle
                        recurse:
                          type: boolean
                      required:
                      - bundleId
                      - type
                    - type: object
                      properties:
                        threadIds:
                          type: array
                          items:
                            anyOf:
                            - type: string
                              description: a UUID
                              format: uuid
                              pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                            - const: 00000000-0000-0000-0000-000000000000
                              description: a UUID
                              format: uuid
                            - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                              description: a UUID
                              format: uuid
                            description: a UUID
                            format: uuid
                        type:
                          const: threads
                      required:
                      - threadIds
                      - type
                  description:
                    anyOf:
                    - type: string
                    - type: 'null'
                required:
                - kind
                - name
                - source
              - type: object
                properties:
                  kind:
                    const: assembly
                  threadId:
                    type: string
                    description: a RFC-4122-compliant UUID
                    pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                  description:
                    anyOf:
                    - type: string
                    - type: 'null'
                  fields:
                    anyOf:
                    - type: array
                      items:
                        type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    - type: 'null'
                  name:
                    anyOf:
                    - type: string
                    - type: 'null'
                  partThreadIds:
                    anyOf:
                    - type: array
                      items:
                        anyOf:
                        - type: string
                          description: a UUID
                          format: uuid
                          pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                        - const: 00000000-0000-0000-0000-000000000000
                          description: a UUID
                          format: uuid
                        - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                          description: a UUID
                          format: uuid
                        description: a UUID
                        format: uuid
                    - type: 'null'
                  parts:
                    type: array
                    items:
                      type: object
                      properties:
                        partThreadId:
                          anyOf:
                          - type: string
                            description: a UUID
                            format: uuid
                            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                          - const: 00000000-0000-0000-0000-000000000000
                            description: a UUID
                            format: uuid
                          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                            description: a UUID
                            format: uuid
                          description: a UUID
                          format: uuid
                        fields:
                          anyOf:
                          - type: array
                            items:
                              anyOf:
                              - type: string
                                description: a UUID
                                format: uuid
                                pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                              - const: 00000000-0000-0000-0000-000000000000
                                description: a UUID
                                format: uuid
                              - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                                description: a UUID
                                format: uuid
                              description: a UUID
                              format: uuid
                          - type: 'null'
                        resources:
                          anyOf:
                          - type: array
                            items:
                              anyOf:
                              - type: string
                                description: a UUID
                                format: uuid
                                pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                              - const: 00000000-0000-0000-0000-000000000000
                                description: a UUID
                                format: uuid
                              - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                                description: a UUID
                                format: uuid
                              description: a UUID
                              format: uuid
                          - type: 'null'
                        tags:
                          anyOf:
                          - type: array
                            items:
                              anyOf:
                              - type: string
                                description: a UUID
                                format: uuid
                                pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                              - const: 00000000-0000-0000-0000-000000000000
                                description: a UUID
                                format: uuid
                              - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                                description: a UUID
                                format: uuid
                              description: a UUID
                              format: uuid
                          - type: 'null'
                      required:
                      - partThreadId
                  resources:
                    anyOf:
                    - type: array
                      items:
                        type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    - type: 'null'
                  tags:
                    anyOf:
                    - type: array
                      items:
                        type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    - type: 'null'
                required:
                - kind
                - threadId
              - type: object
                properties:
                  kind:
                    const: unit
                  threadId:
                    type: string
                    description: a RFC-4122-compliant UUID
                    pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                  description:
                    anyOf:
                    - type: string
                    - type: 'null'
                  fields:
                    anyOf:
                    - type: array
                      items:
                        type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    - type: 'null'
                  name:
                    anyOf:
                    - type: string
                    - type: 'null'
                  resources:
                    anyOf:
                    - type: array
                      items:
                        type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    - type: 'null'
                  tags:
                    anyOf:
                    - type: array
                      items:
                        type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    - type: 'null'
                required:
                - kind
                - threadId
      summary: Add a Manifest Item to a draft Transfer
      description: Adds a unit/assembly thread item or a folder/category collection item. Private fields, resources, and tags are filtered out automatically and can never be included.
      tags:
      - Transfers
      responses:
        '200':
          description: Created manifest item
          content:
            application/json:
              schema:
                anyOf:
                - type: object
                  properties:
                    createdAt:
                      type: string
                    data:
                      type: object
                      properties:
                        createdAt:
                          type: string
                        description:
                          anyOf:
                          - type: string
                          - type: 'null'
                        excludedPartCount:
                          anyOf:
                          - type: integer
                            maximum: 2147483647
                            minimum: -2147483648
                          - type: 'null'
                        fields:
                          anyOf:
                          - type: array
                            items:
                              type: string
                              description: a RFC-4122-compliant UUID
                              pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          - type: 'null'
                        kind:
                          const: assembly
                        name:
                          anyOf:
                          - type: string
                          - type: 'null'
                        operationId:
                          type: string
                          description: a RFC-4122-compliant UUID
                          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                        parentAssemblyThreadId:
                          anyOf:
                          - type: string
                            description: a RFC-4122-compliant UUID
                            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          - type: 'null'
                        relation:
                          anyOf:
                          - type: string
                          - type: 'null'
                        resources:
                          anyOf:
                          - type: array
                            items:
                              type: string
                              description: a RFC-4122-compliant UUID
                              pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          - type: 'null'
                        tags:
                          anyOf:
                          - type: array
                            items:
                              type: string
                              description: a RFC-4122-compliant UUID
                              pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          - type: 'null'
                        threadId:
                          type: string
                          description: a RFC-4122-compliant UUID
                          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                        updatedAt:
                          type: string
                      required:
                      - createdAt
                      - description
                      - excludedPartCount
                      - fields
                      - kind
                      - name
                      - operationId
                      - parentAssemblyThreadId
                      - relation
                      - resources
                      - tags
                      - threadId
                      - updatedAt
                    id:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    intent:
                      const: assembly
                    operationId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    rootManifestThreadId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    updatedAt:
                      type: string
                  required:
                  - createdAt
                  - data
                  - id
                  - intent
                  - operationId
                  - rootManifestThreadId
                  - updatedAt
                - type: object
                  properties:
                    createdAt:
                      type: string
                    data:
                      type: object
                      properties:
                        createdAt:
                          type: string
                        description:
                          anyOf:
                          - type: string
                          - type: 'null'
                        excludedPartCount:
                          anyOf:
                          - type: integer
                            maximum: 2147483647
                            minimum: -2147483648
                          - type: 'null'
                        fields:
                          anyOf:
                          - type: array
                            items:
                              type: string
                              description: a RFC-4122-compliant UUID
                              pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          - type: 'null'
                        kind:
                          const: unit
                        name:
                          anyOf:
                          - type: string
                          - type: 'null'
                        operationId:
                          type: string
                          description: a RFC-4122-compliant UUID
                          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                        parentAssemblyThreadId:
                          anyOf:
                          - type: string
                            description: a RFC-4122-compliant UUID
                            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          - type: 'null'
                        relation:
                          anyOf:
                          - type: string
                          - type: 'null'
                        resources:
                          anyOf:
                          - type: array
                            items:
                              type: string
                              description: a RFC-4122-compliant UUID
                              pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          - type: 'null'
                        tags:
                          anyOf:
                          - type: array
                            items:
                              type: string
                              description: a RFC-4122-compliant UUID
                              pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          - type: 'null'
                        threadId:
                          type: string
                          description: a RFC-4122-compliant UUID
                          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                        updatedAt:
                          type: string
                      required:
                      - createdAt
                      - description
                      - excludedPartCount
                      - fields
                      - kind
                      - name
                      - operationId
                      - parentAssemblyThreadId
                      - relation
                      - resources
                      - tags
                      - threadId
                      - updatedAt
                    id:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    intent:
                      const: unit
                    operationId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    rootManifestThreadId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    updatedAt:
                      type: string
                  required:
                  - createdAt
                  - data
                  - id
                  - intent
                  - operationId
                  - rootManifestThreadId
                  - updatedAt
                - type: object
                  properties:
                    createdAt:
                      type: string
                    data:
                      type: object
                      properties:
                        createdAt:
                          type: string
                        description:
                          anyOf:
                          - type: string
                          - type: 'null'
                        itemIds:
                          anyOf:
                          - type: array
                            items:
                              type: string
                              description: a RFC-4122-compliant UUID
                              pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          - type: 'null'
                        kind:
                          const: category
                        name:
                          type: string
                        updatedAt:
                          type: string
                      required:
                      - createdAt
                      - description
                      - itemIds
                      - kind
                      - name
                      - updatedAt
                    id:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    intent:
                      const: category
                    operationId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    rootManifestThreadId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    updatedAt:
                      type: string
                  required:
                  - createdAt
                  - data
                  - id
                  - intent
                  - operationId
                  - rootManifestThreadId
                  - updatedAt
                - type: object
                  properties:
                    createdAt:
                      type: string
                    data:
                      type: object
                      properties:
                        createdAt:
                          type: string
                        description:
                          anyOf:
                          - type: string
                          - type: 'null'
                        itemIds:
                          anyOf:
                          - type: array
                            items:
                              type: string
                              description: a RFC-4122-compliant UUID
                              pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          - type: 'null'
                        kind:
                          const: folder
                        name:
                          type: string
                        updatedAt:
                          type: string
                      required:
                      - createdAt
                      - description
                      - itemIds
                      - kind
                      - name
                      - updatedAt
                    id:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    intent:
                      const: folder
                    operationId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    rootManifestThreadId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    updatedAt:
                      type: string
                  required:
                  - createdAt
                  - data
                  - id
                  - intent
                  - operationId
                  - rootManifestThreadId
                  - updatedAt
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/transfers/{transfer_id}/items/{item_id}:
    patch:
      operationId: transfer.update_item
      parameters:
      - in: path
        name: item_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      - in: path
        name: transfer_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - type: object
                properties:
                  description:
                    anyOf:
                    - type: string
                    - type: 'null'
                  itemIds:
                    anyOf:
                    - type: array
                      items:
                        type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    - type: 'null'
                  kind:
                    type: string
                  name:
                    type: string
                  source:
                    anyOf:
                    - type: object
                      properties:
                        bundleId:
                          anyOf:
                          - type: string
                            description: a UUID
                            format: uuid
                            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                          - const: 00000000-0000-0000-0000-000000000000
                            description: a UUID
                            format: uuid
                          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                            description: a UUID
                            format: uuid
                          description: a UUID
                          format: uuid
                        mode:
                          const: append
                        type:
                          const: bundle
                        recurse:
                          type: boolean
                      required:
                      - bundleId
                      - mode
                      - type
                    - type: object
                      properties:
                        mode:
                          const: append
                        threadIds:
                          type: array
                          items:
                            anyOf:
                            - type: string
                              description: a UUID
                              format: uuid
                              pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                            - const: 00000000-0000-0000-0000-000000000000
                              description: a UUID
                              format: uuid
                            - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                              description: a UUID
                              format: uuid
                            description: a UUID
                            format: uuid
                        type:
                          const: threads
                      required:
                      - mode
                      - threadIds
                      - type
              - type: object
                properties:
                  description:
                    anyOf:
                    - type: string
                    - type: 'null'
                  itemIds:
                    anyOf:
                    - type: array
                      items:
                        type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    - type: 'null'
                  kind:
                    type: string
                  name:
                    type: string
                  source:
                    anyOf:
                    - type: object
                      properties:
                        bundleId:
                          anyOf:
                          - type: string
                            description: a UUID
                            format: uuid
                            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                          - const: 00000000-0000-0000-0000-000000000000
                            description: a UUID
                            format: uuid
                          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                            description: a UUID
                            format: uuid
                          description: a UUID
                          format: uuid
                        mode:
                          const: write
                        type:
                          const: bundle
                        recurse:
                          type: boolean
                      required:
                      - bundleId
                      - mode
                      - type
                    - type: object
                      properties:
                        mode:
                          const: write
                        threadIds:
                          type: array
                          items:
                            anyOf:
                            - type: string
                              description: a UUID
                              format: uuid
                              pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                            - const: 00000000-0000-0000-0000-000000000000
                              description: a UUID
                              format: uuid
                            - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                              description: a UUID
                              format: uuid
                            description: a UUID
                            format: uuid
                        type:
                          const: threads
                      required:
                      - mode
                      - threadIds
                      - type
              - type: object
                properties:
                  kind:
                    const: assembly
                  description:
                    anyOf:
                    - type: string
                    - type: 'null'
                  fields:
                    anyOf:
                    - type: array
                      items:
                        type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    - type: 'null'
                  name:
                    anyOf:
                    - type: string
                    - type: 'null'
                  partThreadIds:
                    anyOf:
                    - type: array
                      items:
                        anyOf:
                        - type: string
                          description: a UUID
                          format: uuid
                          pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                        - const: 00000000-0000-0000-0000-000000000000
                          description: a UUID
                          format: uuid
                        - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                          description: a UUID
                          format: uuid
                        description: a UUID
                        format: uuid
                    - type: 'null'
                  parts:
                    type: array
                    items:
                      type: object
                      properties:
                        partThreadId:
                          anyOf:
                          - type: string
                            description: a UUID
                            format: uuid
                            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                          - const: 00000000-0000-0000-0000-000000000000
                            description: a UUID
                            format: uuid
                          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                            description: a UUID
                            format: uuid
                          description: a UUID
                          format: uuid
                        fields:
                          anyOf:
                          - type: array
                            items:
                              anyOf:
                              - type: string
                                description: a UUID
                                format: uuid
                                pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                              - const: 00000000-0000-0000-0000-000000000000
                                description: a UUID
                                format: uuid
                              - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                                description: a UUID
                                format: uuid
                              description: a UUID
                              format: uuid
                          - type: 'null'
                        resources:
                          anyOf:
                          - type: array
                            items:
                              anyOf:
                              - type: string
                                description: a UUID
                                format: uuid
                                pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                              - const: 00000000-0000-0000-0000-000000000000
                                description: a UUID
                                format: uuid
                              - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                                description: a UUID
                                format: uuid
                              description: a UUID
                              format: uuid
                          - type: 'null'
                        tags:
                          anyOf:
                          - type: array
                            items:
                              anyOf:
                              - type: string
                                description: a UUID
                                format: uuid
                                pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                              - const: 00000000-0000-0000-0000-000000000000
                                description: a UUID
                                format: uuid
                              - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                                description: a UUID
                                format: uuid
                              description: a UUID
                              format: uuid
                          - type: 'null'
                      required:
                      - partThreadId
                  resources:
                    anyOf:
                    - type: array
                      items:
                        type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    - type: 'null'
                  tags:
                    anyOf:
                    - type: array
                      items:
                        type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    - type: 'null'
                  threadId:
                    type: string
                    description: a RFC-4122-compliant UUID
                    pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                required:
                - kind
              - type: object
                properties:
                  kind:
                    const: unit
                  description:
                    anyOf:
                    - type: string
                    - type: 'null'
                  fields:
                    anyOf:
                    - type: array
                      items:
                        type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    - type: 'null'
                  name:
                    anyOf:
                    - type: string
                    - type: 'null'
                  resources:
                    anyOf:
                    - type: array
                      items:
                        type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    - type: 'null'
                  tags:
                    anyOf:
                    - type: array
                      items:
                        type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    - type: 'null'
                  threadId:
                    type: string
                    description: a RFC-4122-compliant UUID
                    pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                required:
                - kind
      summary: Update a Manifest Item on a draft Transfer
      description: Overwrites the item's selection. The intent/kind cannot change; remove and re-add instead.
      tags:
      - Transfers
      responses:
        '200':
          description: Updated manifest item
          content:
            application/json:
              schema:
                anyOf:
                - type: object
                  properties:
                    createdAt:
                      type: string
                    data:
                      type: object
                      properties:
                        createdAt:
                          type: string
                        description:
                          anyOf:
                          - type: string
                          - type: 'null'
                        excludedPartCount:
                          anyOf:
                          - type: integer
                            maximum: 2147483647
                            minimum: -2147483648
                          - type: 'null'
                        fields:
                          anyOf:
                          - type: array
                            items:
                              type: string
                              description: a RFC-4122-compliant UUID
                              pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          - type: 'null'
                        kind:
                          const: assembly
                        name:
                          anyOf:
                          - type: string
                          - type: 'null'
                        operationId:
                          type: string
                          description: a RFC-4122-compliant UUID
                          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                        parentAssemblyThreadId:
                          anyOf:
                          - type: string
                            description: a RFC-4122-compliant UUID
                            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          - type: 'null'
                        relation:
                          anyOf:
                          - type: string
                          - type: 'null'
                        resources:
                          anyOf:
                          - type: array
                            items:
                              type: string
                              description: a RFC-4122-compliant UUID
                              pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          - type: 'null'
                        tags:
                          anyOf:
                          - type: array
                            items:
                              type: string
                              description: a RFC-4122-compliant UUID
                              pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          - type: 'null'
                        threadId:
                          type: string
                          description: a RFC-4122-compliant UUID
                          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                        updatedAt:
                          type: string
                      required:
                      - createdAt
                      - description
                      - excludedPartCount
                      - fields
                      - kind
                      - name
                      - operationId
                      - parentAssemblyThreadId
                      - relation
                      - resources
                      - tags
                      - threadId
                      - updatedAt
                    id:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    intent:
                      const: assembly
                    operationId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    rootManifestThreadId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    updatedAt:
                      type: string
                  required:
                  - createdAt
                  - data
                  - id
                  - intent
                  - operationId
                  - rootManifestThreadId
                  - updatedAt
                - type: object
                  properties:
                    createdAt:
                      type: string
                    data:
                      type: object
                      properties:
                        createdAt:
                          type: string
                        description:
                          anyOf:
                          - type: string
                          - type: 'null'
                        excludedPartCount:
                          anyOf:
                          - type: integer
                            maximum: 2147483647
                            minimum: -2147483648
                          - type: 'null'
                        fields:
                          anyOf:
                          - type: array
                            items:
                              type: string
                              description: a RFC-4122-compliant UUID
                              pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          - type: 'null'
                        kind:
                          const: unit
                        name:
                          anyOf:
                          - type: string
                          - type: 'null'
                        operationId:
                          type: string
                          description: a RFC-4122-compliant UUID
                          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                        parentAssemblyThreadId:
                          anyOf:
                          - type: string
                            description: a RFC-4122-compliant UUID
                            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          - type: 'null'
                        relation:
                          anyOf:
                          - type: string
                          - type: 'null'
                        resources:
                          anyOf:
                          - type: array
                            items:
                              type: string
                              description: a RFC-4122-compliant UUID
                              pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          - type: 'null'
                        tags:
                          anyOf:
                          - type: array
                            items:
                              type: string
                              description: a RFC-4122-compliant UUID
                              pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          - type: 'null'
                        threadId:
                          type: string
                          description: a RFC-4122-compliant UUID
                          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                        updatedAt:
                          type: string
                      required:
                      - createdAt
                      - description
                      - excludedPartCount
                      - fields
                      - kind
                      - name
                      - operationId
                      - parentAssemblyThreadId
                      - relation
                      - resources
                      - tags
                      - threadId
                      - updatedAt
                    id:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    intent:
                      const: unit
                    operationId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    rootManifestThreadId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    updatedAt:
                      type: string
                  required:
                  - createdAt
                  - data
                  - id
                  - intent
                  - operationId
                  - rootManifestThreadId
                  - updatedAt
                - type: object
                  properties:
                    createdAt:
                      type: string
                    data:
                      type: object
                      properties:
                        createdAt:
                          type: string
                        description:
                          anyOf:
                          - type: string
                          - type: 'null'
                        itemIds:
                          anyOf:
                          - type: array
                            items:
                              type: string
                              description: a RFC-4122-compliant UUID
                              pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          - type: 'null'
                        kind:
                          const: category
                        name:
                          type: string
                        updatedAt:
                          type: string
                      required:
                      - createdAt
                      - description
                      - itemIds
                      - kind
                      - name
                      - updatedAt
                    id:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    intent:
                      const: category
                    operationId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    rootManifestThreadId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    updatedAt:
                      type: string
                  required:
                  - createdAt
                  - data
                  - id
                  - intent
                  - operationId
                  - rootManifestThreadId
                  - updatedAt
                - type: object
                  properties:
                    createdAt:
                      type: string
                    data:
                      type: object
                      properties:
                        createdAt:
                          type: string
                        description:
                          anyOf:
                          - type: string
                          - type: 'null'
                        itemIds:
                          anyOf:
                          - type: array
                            items:
                              type: string
                              description: a RFC-4122-compliant UUID
                              pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          - type: 'null'
                        kind:
                          const: folder
                        name:
                          type: string
                        updatedAt:
                          type: string
                      required:
                      - createdAt
                      - description
                      - itemIds
                      - kind
                      - name
                      - updatedAt
                    id:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    intent:
                      const: folder
                    operationId:
                      type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    rootManifestThreadId:
                      anyOf:
                      - type: string
                        description: a RFC-4122-compliant UUID
                        pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                      - type: 'null'
                    updatedAt:
                      type: string
                  required:
                  - createdAt
                  - data
                  - id
                  - intent
                  - operationId
                  - rootManifestThreadId
                  - updatedAt
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
    delete:
      operationId: transfer.remove_item
      parameters:
      - in: path
        name: item_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      - in: path
        name: transfer_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      summary: Remove a Manifest Item from a draft Transfer
      tags:
      - Transfers
      responses:
        '200':
          description: Removed manifest item
          content:
            application/json:
              schema:
                anyOf:
                - type: object
                  properties:
                    createdAt:
                      type: string
                    data:
                      type: object
                      properties:
                        createdAt:
                          type: string
                        description:
                          anyOf:
                          - type: string
[...]
