openapi: 3.2.0
info:
  title: DUST Threads API
  description: DUST Platform API
  version: 2026.7.4
servers:
- url: https://apid.dustid.io
  description: DUST API for trusted provenance.
security:
- Bearer: []
tags:
- name: Threads
  description: Create and manage threads
paths:
  /api/v1/assemblies:
    get:
      operationId: assembly.list
      parameters:
      - in: query
        name: includeArchived
        schema:
          anyOf:
          - const: 'false'
          - const: 'true'
          - type: boolean
      - in: query
        name: q
        schema:
          type: string
      summary: List the assembly Threads the caller can view
      tags:
      - Threads
      responses:
        '200':
          description: Assemblies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssemblyListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/assemblies/{assembly_id}/parts:
    get:
      operationId: assembly.children
      parameters:
      - in: path
        name: assembly_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      summary: List the direct Parts of an assembly Thread
      tags:
      - Threads
      responses:
        '200':
          description: Direct Parts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssemblyChildrenResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
    post:
      operationId: assembly.attach_part
      parameters:
      - in: path
        name: assembly_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachPartRequest'
      summary: Attach a Part to an assembly Thread
      tags:
      - Threads
      responses:
        '200':
          description: Attached
          content:
            application/json:
              schema:
                type: boolean
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
    delete:
      operationId: assembly.detach_part
      parameters:
      - in: path
        name: assembly_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetachPartRequest'
      summary: Detach a Part from an assembly Thread
      tags:
      - Threads
      responses:
        '200':
          description: Detached
          content:
            application/json:
              schema:
                type: boolean
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/assemblies/{assembly_id}/parts/protection:
    patch:
      operationId: assembly.set_part_protection
      parameters:
      - in: path
        name: assembly_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetPartProtectionRequest'
      summary: Set Part protection relation
      tags:
      - Threads
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: boolean
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/assemblies/{assembly_id}/thread-fields:
    put:
      operationId: assembly.set_thread_field
      parameters:
      - in: path
        name: assembly_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetThreadFieldRequest'
      summary: Set or clear a thread-valued assembly field
      tags:
      - Threads
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: boolean
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/assemblies/{assembly_id}/kind:
    patch:
      operationId: assembly.convert
      parameters:
      - in: path
        name: assembly_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertThreadKindRequest'
      summary: Convert a Thread between unit and assembly kind
      tags:
      - Threads
      responses:
        '200':
          description: Converted
          content:
            application/json:
              schema:
                type: boolean
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/assemblies/{assembly_id}/rolled-up-parts:
    get:
      operationId: assembly.rolled_up_parts
      parameters:
      - in: path
        name: assembly_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      summary: List transitive Parts for an assembly Thread
      tags:
      - Threads
      responses:
        '200':
          description: Rolled-up Parts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolledUpPartsResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/threads:
    post:
      operationId: threads.create
      summary: Create one or more threads
      description: Create multiple threads in a single request. Allows for key-value thread objects and automatically build the necessary thread field data structure for each thread.
      tags:
      - Threads
      responses:
        '201':
          description: Created threads
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadCreateResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/ThreadCreateManyRawRequest'
              - $ref: '#/components/schemas/ThreadCreateSingleRequest'
              - $ref: '#/components/schemas/ThreadCreateManyRequest'
    get:
      operationId: threads.list
      summary: List threads with cursor pagination.
      tags:
      - Threads
      responses:
        '200':
          description: List of threads
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadQueryResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
      parameters:
      - in: query
        name: archivedOnly
        schema:
          anyOf:
          - const: 'false'
          - const: 'true'
          - type: boolean
      - in: query
        name: bundleId
        schema:
          anyOf:
          - type: string
            description: Search within a bundle, or use 'none' for threads without a bundle
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: Search within a bundle, or use 'none' for threads without a bundle
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: Search within a bundle, or use 'none' for threads without a bundle
            format: uuid
          - const: none
            description: Search within a bundle, or use 'none' for threads without a bundle
        description: Search within a bundle, or use 'none' for threads without a bundle
      - in: query
        name: createdBy
        schema:
          anyOf:
          - type: string
            description: Filter by creator user ID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: Filter by creator user ID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: Filter by creator user ID
            format: uuid
          format: uuid
        description: Filter by creator user ID
      - in: query
        name: cursor
        schema:
          anyOf:
          - type: string
          - type: 'null'
      - in: query
        name: excludeTransferred
        schema:
          anyOf:
          - const: 'false'
          - const: 'true'
          - type: boolean
      - in: query
        name: hasResources
        schema:
          anyOf:
          - const: 'false'
          - const: 'true'
          - type: boolean
      - in: query
        name: includeArchived
        schema:
          anyOf:
          - const: 'false'
          - const: 'true'
          - type: boolean
      - in: query
        name: order
        schema:
          enum:
          - asc
          - desc
      - in: query
        name: orderCol
        schema:
          enum:
          - createdAt
          - name
          - updatedAt
      - in: query
        name: ownedByTeam
        schema:
          type: string
      - in: query
        name: pageSize
        schema:
          anyOf:
          - type: number
          - type: string
            pattern: ^(?:(?!^-0\.?0*$)(?:-?(?:(?:0|[1-9]\d*)(?:\.\d+)?)|\.\d+?))$
      - in: query
        name: q
        schema:
          type: string
        description: Search query string. Searches over name and description by default.
      - in: query
        name: queryCol
        schema:
          enum:
          - description
          - name
      - in: query
        name: tagType
        schema:
          enum:
          - BAR_CODE
          - DATA_MATRIX
          - DUST
          - NFC
          - QR
      - in: query
        name: templateId
        schema:
          anyOf:
          - type: string
            description: Filter by thread template
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: Filter by thread template
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: Filter by thread template
            format: uuid
          format: uuid
        description: Filter by thread template
      - in: query
        name: threadIds
        schema:
          anyOf:
          - type: string
            description: Filter to this set of thread IDs (repeatable query param). Non-UUID values are ignored; threads the caller cannot see are silently omitted.
          - type: array
            description: Filter to this set of thread IDs (repeatable query param). Non-UUID values are ignored; threads the caller cannot see are silently omitted.
            items:
              type: string
        description: Filter to this set of thread IDs (repeatable query param). Non-UUID values are ignored; threads the caller cannot see are silently omitted.
      - in: query
        name: transferredOnly
        schema:
          anyOf:
          - const: 'false'
          - const: 'true'
          - type: boolean
      - in: query
        name: withActiveShipment
        schema:
          anyOf:
          - const: 'false'
          - const: 'true'
          - type: boolean
  /api/v1/threads/count:
    get:
      operationId: threads.count
      summary: Count threads with optional filters.
      description: Returns the exact total for the same filter set used by `threads.list`. Use this to compute totals or total pages when the list endpoint is using cursor pagination.
      tags:
      - Threads
      responses:
        '200':
          description: Total threads
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: number
                required:
                - total
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
      parameters:
      - in: query
        name: archivedOnly
        schema:
          anyOf:
          - const: 'false'
          - const: 'true'
          - type: boolean
      - in: query
        name: bundleId
        schema:
          anyOf:
          - type: string
            description: Search within a bundle, or use 'none' for threads without a bundle
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: Search within a bundle, or use 'none' for threads without a bundle
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: Search within a bundle, or use 'none' for threads without a bundle
            format: uuid
          - const: none
            description: Search within a bundle, or use 'none' for threads without a bundle
        description: Search within a bundle, or use 'none' for threads without a bundle
      - in: query
        name: createdBy
        schema:
          anyOf:
          - type: string
            description: Filter by creator user ID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: Filter by creator user ID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: Filter by creator user ID
            format: uuid
          format: uuid
        description: Filter by creator user ID
      - in: query
        name: cursor
        schema:
          anyOf:
          - type: string
          - type: 'null'
      - in: query
        name: excludeTransferred
        schema:
          anyOf:
          - const: 'false'
          - const: 'true'
          - type: boolean
      - in: query
        name: hasResources
        schema:
          anyOf:
          - const: 'false'
          - const: 'true'
          - type: boolean
      - in: query
        name: includeArchived
        schema:
          anyOf:
          - const: 'false'
          - const: 'true'
          - type: boolean
      - in: query
        name: order
        schema:
          enum:
          - asc
          - desc
      - in: query
        name: orderCol
        schema:
          enum:
          - createdAt
          - name
          - updatedAt
      - in: query
        name: ownedByTeam
        schema:
          type: string
      - in: query
        name: pageSize
        schema:
          anyOf:
          - type: number
          - type: string
            pattern: ^(?:(?!^-0\.?0*$)(?:-?(?:(?:0|[1-9]\d*)(?:\.\d+)?)|\.\d+?))$
      - in: query
        name: q
        schema:
          type: string
        description: Search query string. Searches over name and description by default.
      - in: query
        name: queryCol
        schema:
          enum:
          - description
          - name
      - in: query
        name: tagType
        schema:
          enum:
          - BAR_CODE
          - DATA_MATRIX
          - DUST
          - NFC
          - QR
      - in: query
        name: templateId
        schema:
          anyOf:
          - type: string
            description: Filter by thread template
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: Filter by thread template
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: Filter by thread template
            format: uuid
          format: uuid
        description: Filter by thread template
      - in: query
        name: threadIds
        schema:
          anyOf:
          - type: string
            description: Filter to this set of thread IDs (repeatable query param). Non-UUID values are ignored; threads the caller cannot see are silently omitted.
          - type: array
            description: Filter to this set of thread IDs (repeatable query param). Non-UUID values are ignored; threads the caller cannot see are silently omitted.
            items:
              type: string
        description: Filter to this set of thread IDs (repeatable query param). Non-UUID values are ignored; threads the caller cannot see are silently omitted.
      - in: query
        name: transferredOnly
        schema:
          anyOf:
          - const: 'false'
          - const: 'true'
          - type: boolean
      - in: query
        name: withActiveShipment
        schema:
          anyOf:
          - const: 'false'
          - const: 'true'
          - type: boolean
  /api/v1/threads/permissions:
    post:
      operationId: threads.check_permissions
      summary: Get user permissions on threads.
      description: Returns the permissions a user has on each thread in the current organization-team context.
      tags:
      - Threads
      responses:
        '200':
          description: Map of thread id to permissions.
          content:
            application/json:
              schema:
                type: object
                description: Map of thread IDs to the user's permissions for that thread
                additionalProperties:
                  type: object
                  properties:
                    can_edit:
                      type: boolean
                      default: false
                    can_publish:
                      type: boolean
                      default: false
                    can_share:
                      type: boolean
                      default: false
                    can_transfer:
                      type: boolean
                      default: false
                    can_view:
                      type: boolean
                      default: false
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                threadIds:
                  type: array
                  items:
                    anyOf:
                    - type: string
                      description: a UUID
                      format: uuid
                      pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                    - const: 00000000-0000-0000-0000-000000000000
                      description: a UUID
                      format: uuid
                    - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                      description: a UUID
                      format: uuid
                    description: a UUID
                    format: uuid
              required:
              - threadIds
  /api/v1/threads/{thread_id}:
    post:
      operationId: threads.update
      summary: Update thread field data
      tags:
      - Threads
      responses:
        '200':
          description: Updated thread field data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadUpdateResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreadUpdateRequest'
      parameters:
      - schema:
          type: string
        in: path
        name: thread_id
        required: true
    get:
      operationId: threads.get
      summary: Get thread data.
      tags:
      - Threads
      responses:
        '200':
          description: Thread data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadGetResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
      parameters:
      - in: query
        name: maxEvents
        schema:
          type: number
      - schema:
          type: string
        in: path
        name: thread_id
        required: true
  /api/v1/threads/{thread_id}/data:
    post:
      operationId: threads.update_data
      summary: Update thread field data
      tags:
      - Threads
      responses:
        '200':
          description: Updated thread field data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadUpdateDataResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreadUpdateDataRequest'
      parameters:
      - schema:
          type: string
        in: path
        name: thread_id
        required: true
  /api/v1/threads/{thread_id}/data/archived:
    get:
      operationId: threads.get_archived_data
      summary: List archived thread field data
      description: Returns the thread's soft-deleted (archived) data fields so they can be viewed and restored.
      tags:
      - Threads
      responses:
        '200':
          description: Archived thread field data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadArchivedDataResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
      parameters:
      - schema:
          type: string
        in: path
        name: thread_id
        required: true
  /api/v1/threads/{thread_id}/data/restore:
    post:
      operationId: threads.restore_data
      summary: Restore archived thread field data
      description: Un-archives the given fields and returns the thread's authorized active field list.
      tags:
      - Threads
      responses:
        '200':
          description: Active thread field data after restore
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadUpdateDataResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreadRestoreDataRequest'
      parameters:
      - schema:
          type: string
        in: path
        name: thread_id
        required: true
  /api/v1/threads/{thread_id}/presence:
    post:
      operationId: threads.presence
      summary: Heartbeat presence and list the current viewers of a thread
      tags:
      - Threads
      responses:
        '200':
          description: Current thread viewers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadPresenceResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreadPresenceHeartbeatRequest'
      parameters:
      - schema:
          type: string
        in: path
        name: thread_id
        required: true
  /api/v1/threads/{thread_id}/access:
    get:
      operationId: threads.list_access_contexts
      summary: List access contexts for threads.
      description: This returns what access the user has on the thread, and which teams they belong to that give them that access.
      tags:
      - Threads
      responses:
        '200':
          description: List of access contexts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadAccessContextResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
      parameters:
      - schema:
          type: string
        in: path
        name: thread_id
        required: true
  /api/v1/threads/archive:
    patch:
      operationId: threads.archive
      summary: Archive a set of threads.
      description: Archive is a soft delete operation that hides threads from the default list and prevents them from being updated/changed. Archived threads can be unarchived to restore them.
      tags:
      - Threads
      responses:
        '200':
          description: Thread archived successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  threadIds:
                    type: array
                    items:
                      anyOf:
                      - type: string
                        description: a UUID
                        format: uuid
                        pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                      - const: 00000000-0000-0000-0000-000000000000
                        description: a UUID
                        format: uuid
                      - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                        description: a UUID
                        format: uuid
                      description: a UUID
                      format: uuid
                required:
                - threadIds
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                threadIds:
                  type: array
                  items:
                    anyOf:
                    - type: string
                      description: a UUID
                      format: uuid
                      pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                    - const: 00000000-0000-0000-0000-000000000000
                      description: a UUID
                      format: uuid
                    - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                      description: a UUID
                      format: uuid
                    description: a UUID
                    format: uuid
                toggle:
                  type: boolean
                  description: When true, will unarchive archived threads and archive active threads. When false, will only archive active threads
              required:
              - threadIds
  /api/v1/threads/restore:
    patch:
      operationId: threads.archive_restore
      summary: Restore archived threads.
      description: Unarchive threads that were previously archived to restore them.
      tags:
      - Threads
      responses:
        '200':
          description: Thread(s) restored successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  threadIds:
                    type: array
                    items:
                      anyOf:
                      - type: string
                        description: a UUID
                        format: uuid
                        pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                      - const: 00000000-0000-0000-0000-000000000000
                        description: a UUID
                        format: uuid
                      - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                        description: a UUID
                        format: uuid
                      description: a UUID
                      format: uuid
                required:
                - threadIds
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: ThreadArchiveRestoreRequest
              properties:
                threadIds:
                  type: array
                  items:
                    anyOf:
                    - type: string
                      description: a UUID
                      format: uuid
                      pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                    - const: 00000000-0000-0000-0000-000000000000
                      description: a UUID
                      format: uuid
                    - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                      description: a UUID
                      format: uuid
                    description: a UUID
                    format: uuid
              required:
              - threadIds
  /api/v1/threads/{thread_id}/thumbnail:
    patch:
      operationId: threads.set_thumbnail
      summary: Set thread's thumbnail
      description: Set a thread's thumbnail image by providing a resource ID or an image uri of an already uploaded image. The thumbnail will be used as a preview image for the thread in the UI.
      tags:
      - Threads
      responses:
        '200':
          description: Thread thumbnail set successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadGetResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/SetThumbnailUriRequest'
              - $ref: '#/components/schemas/SetThumbnailFromResourceRequest'
      parameters:
      - schema:
          type: string
        in: path
        name: thread_id
        required: true
    post:
      operationId: threads.upload_thumbnail
      summary: Upload thread thumbnail.
      description: Set a thread's thumbnail image by uploading a file. The thumbnail will be used as a preview image for the thread in the UI.
      tags:
      - Threads
      responses:
        '200':
          description: Thread thumbnail set successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadGetResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: NOT_FOUND
                  message:
                    type: string
                  status:
                    const: 404
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              description: Upload a file and set it as the thread's thumbnail.
              properties:
                thumbnail: {}
              required:
              - thumbnail
      parameters:
      - schema:
          type: string
        in: path
        name: thread_id
        required: true
  /api/v1/threads/{thread_id}/shared:
    get:
      operationId: threads.list_shared
      parameters:
      - in: path
        name: thread_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      - in: query
        name: pageIndex
        schema:
          anyOf:
          - type: number
          - type: string
            pattern: ^(?:(?!^-0\.?0*$)(?:-?(?:(?:0|[1-9]\d*)(?:\.\d+)?)|\.\d+?))$
      - in: query
        name: pageSize
        schema:
          anyOf:
          - type: number
          - type: string
            pattern: ^(?:(?!^-0\.?0*$)(?:-?(?:(?:0|[1-9]\d*)(?:\.\d+)?)|\.\d+?))$
      summary: Thread shared with
      tags:
      - Threads
      responses:
        '200':
          description: List of thread's shares
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadListSharedResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '500':
          description: Unknown error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNKNOWN_ERROR
                  message:
                    type: string
                  status:
                    const: 500
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/threads/{thread_id}/files:
    get:
      operationId: threads.list_files
      parameters:
      - in: path
        name: thread_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      - in: query
        name: includeArchived
        schema:
          anyOf:
          - enum:
            - 'false'
            - 'true'
          - type: boolean
        required: true
      - in: query
        name: createdBy
        schema:
          type: string
      - in: query
        name: cursor
        schema:
          type: string
      - in: query
        name: order
        schema:
          enum:
          - asc
          - desc
      - in: query
        name: pageSize
        schema:
          anyOf:
          - type: number
          - type: string
            pattern: ^(?:(?!^-0\.?0*$)(?:-?(?:(?:0|[1-9]\d*)(?:\.\d+)?)|\.\d+?))$
      summary: List resources for a Thread
      tags:
      - Threads
      responses:
        '200':
          description: List of thread's resources matching query options
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceSignedUrlList'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNAUTHORIZED
                  message:
                    type: string
                  status:
                    const: 401
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
        '500':
          description: Unknown error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: UNKNOWN_ERROR
                  message:
                    type: string
                  status:
                    const: 500
                  detail:
                    type: object
                    description: Extra context information specific to this error
                required:
                - code
                - message
                - status
  /api/v1/threads/{thread_id}/files/{res_id}:
    get:
      operationId: files.get
      parameters:
      - in: path
        name: res_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      - in: path
        name: thread_id
        schema:
          anyOf:
          - type: string
            description: a UUID
            format: uuid
            pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
          - const: 00000000-0000-0000-0000-000000000000
            description: a UUID
            format: uuid
          - const: ffffffff-ffff-ffff-ffff-ffffffffffff
            description: a UUID
            format: uuid
          format: uuid
        required: true
        description: a UUID
      summary: Get a file resource for a Thread
      tags:
      - Threads
      responses:
        '200':
          description: Thread resource with a signed URL for downloading
          content:
            application/json:
              schema:
                type: object
                properties:
                  archivedAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  checksum:
                    anyOf:
                    - type: string
                      maxLength: 64
                    - type: 'null'
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                    description: a RFC-4122-compliant UUID
                    pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                  filename:
                    anyOf:
                    - type: string
                    - type: 'null'
                  imageUris:
                    anyOf:
                    - type: array
                      items:
                        type: string
                    - type: 'null'
                  isPrivate:
                    type: boolean
                  metadata:
                    anyOf:
                    - type: number
                    - type: object
                    - type: string
                    - type: boolean
                    - type: 'null'
                  mimeType:
                    anyOf:
                    - type: string
                    - type: 'null'
                  name:
                    anyOf:
                    - type: string
                    - type: 'null'
                  ownerId:
                    anyOf:
                    - type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    - type: 'null'
                  resId:
                    type: string
                    description: a RFC-4122-compliant UUID
                    pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                  size:
                    anyOf:
                    - type: integer
                      maximum: 9007199254740991
                      minimum: -9007199254740991
                    - type: 'null'
                  status:
                    anyOf:
                    - type: string
                    - type: 'null'
                  thumbnail: {}
                  transferId:
                    anyOf:
                    - type: string
                      description: a RFC-4122-compliant UUID
                      pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                    - type: 'null'
                  transferredAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  type:
                    anyOf:
                    - type: string
                    - type: 'null'
                  updatedAt:
                    type: string
                  url:
                    type: string
                  signatures:
                    anyOf:
                    - type: array
                      items:
                        type: object
                        properties:
                          affiliation:
                            anyOf:
                            - type: string
                            - type: 'null'
                          authorization:
                            anyOf:
                            - type: string
                            - type: 'null'
                          date:
                            anyOf:
                            - type: string
                            - type: 'null'
                          name:
                            anyOf:
                            - type: string
                            - type: 'null'
                          resId:
                            type: string
                            description: a RFC-4122-compliant UUID
                            pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                          signature:
                            anyOf:
                            - type: string
                            - type: 'null'
                          signatureHash:
                            anyOf:
                            - type: string
                            - type: 'null'
                          resource:
                            type: object
                            properties:
                              archivedAt:
                                anyOf:
                                - type: string
                                - type: 'null'
                              bucket:
                                type: string
                              checksum:
                                anyOf:
                                - type: string
                                  maxLength: 64
                                - type: 'null'
                              createdAt:
                                type: string
                              createdBy:
                                type: string
                                description: a RFC-4122-compliant UUID
                                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                              filename:
                                anyOf:
                                - type: string
                                - type: 'null'
                              imageUris:
                                anyOf:
                                - type: array
                                  items:
                                    type: string
                                - type: 'null'
                              isPrivate:
                                type: boolean
                              key:
                                type: string
                              metadata:
                                anyOf:
                                - type: number
                                - type: object
                                - type: string
                                - type: boolean
                                - type: 'null'
                              mimeType:
                                anyOf:
                                - type: string
                                - type: 'null'
                              name:
                                anyOf:
                                - type: string
                                - type: 'null'
                              ownerId:
                                anyOf:
                                - type: string
                                  description: a RFC-4122-compliant UUID
                                  pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                                - type: 'null'
                              resId:
                                type: string
                                description: a RFC-4122-compliant UUID
                                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                              size:
                                anyOf:
                                - type: integer
                                  maximum: 9007199254740991
                                  minimum: -9007199254740991
                                - type: 'null'
                              status:
                                anyOf:
                                - type: string
                                - type: 'null'
                              thumbnail: {}
                              transferId:
                                anyOf:
                                - type: string
                                  description: a RFC-4122-compliant UUID
                                  pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                                - type: 'null'
                              transferredAt:
                                anyOf:
                                - type: string
                                - type: 'null'
                              type:
                                anyOf:
                                - type: string
                                - type: 'null'
                              updatedAt:
                                type: string
                            required:
                            - archivedAt
                            - bucket
                            - checksum
                            - createdAt
                            - createdBy
                            - filename
                            - imageUris
                            - isPrivate
                            - key
                            - metadata
                            - mimeType
                            - name
                            - ownerId
                            - resId
                            - size
                            - status
                            - thumbnail
                            - transferId
                            - transferredAt
                            - type
                            - updatedAt
                          thread:
                            type: object
                            properties:
                              archivedAt:
                                anyOf:
                                - type: string
                                - type: 'null'
                              createdAt:
                                type: string
                              createdById:
                                type: string
                                description: a RFC-4122-compliant UUID
                                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                              description:
                                anyOf:
                                - type: string
                                - type: 'null'
                              kind:
                                anyOf:
                                - type: string
                                - type: 'null'
                              labels:
                                anyOf:
                                - type: number
                                - type: object
                                - type: string
                                - type: boolean
                                - type: 'null'
                              lifecycleStatus:
                                type: string
                              name:
                                type: string
                              ownerId:
                                type: string
                                description: a RFC-4122-compliant UUID
                                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                              processingLockedAt:
                                anyOf:
                                - type: string
                                - type: 'null'
                              processingOperationId:
                                anyOf:
                                - type: string
                                  description: a RFC-4122-compliant UUID
                                  pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                                - type: 'null'
                              templateId:
                                anyOf:
                                - type: string
                                  description: a RFC-4122-compliant UUID
                                  pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                                - type: 'null'
                              threadId:
                                type: string
                                description: a RFC-4122-compliant UUID
                                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                              thumbnail: {}
                              thumbnailId:
                                anyOf:
                                - type: string
                                  description: a RFC-4122-compliant UUID
                                  pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                                - type: 'null'
                              transferId:
                                anyOf:
                                - type: string
                                  description: a RFC-4122-compliant UUID
                                  pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                                - type: 'null'
                              transferredAt:
                                anyOf:
                                - type: string
                                - type: 'null'
                              updatedAt:
                                type: string
                            required:
                            - archivedAt
                            - createdAt
                            - createdById
                            - description
                            - kind
                            - labels
                            - lifecycleStatus
                            - name
                            - ownerId
                            - processingLockedAt
                            - processingOperationId
                            - templateId
                            - threadId
                            - thumbnail
                            - thumbnailId
                            - transferId
                            - transferredAt
                            - updatedAt
                          verification:
                            type: object
                            properties:
                              created:
                                type: string
                              documentOrientation:
                                anyOf:
                                - type: number
                                  maximum: 9007199254740991
                                  minimum: -9007199254740991
                                - type: 'null'
                              documentQualityScore:
                                anyOf:
                                - type: number
                                  maximum: 9007199254740991
                                  minimum: -9007199254740991
                                - type: 'null'
                              lineItems:
                                anyOf:
                                - type: number
                                - type: object
                                - type: string
                                - type: boolean
                                - type: 'null'
                              processingTime:
                                anyOf:
                                - type: number
                                  maximum: 9007199254740991
                                  minimum: -9007199254740991
                                - type: 'null'
                              resId:
                                type: string
                                description: a RFC-4122-compliant UUID
                                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                              result:
                                anyOf:
                                - type: string
                                - type: 'null'
                              status:
                                type: string
                              teamId:
                                type: string
                                description: a RFC-4122-compliant UUID
                                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                              userId:
                                type: string
                                description: a RFC-4122-compliant UUID
                                pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                              version:
                                type: integer
                                maximum: 2147483647
                                minimum: -2147483648
                            required:
                            - created
                            - documentOrientation
                            - documentQualityScore
                            - lineItems
                            - processingTime
                            - resId
                            - result
                            - status
                            - teamId
                            - userId
                            - version
                        required:
                        - affiliation
                        - authorization
                        - date
                        - name
                        - resId
                        - signature
                        - signatureHash
                    - type: 'null'
                  threads:
                    anyOf:
                    - type: array
                      items:
                        type: object
                        properties:
                          name:
                            anyOf:
                            - type: string
                            - type: 'null'
                          threadId:
                            anyOf:
                            - type: string
                              description: a UUID
                              format: uuid
                              pattern: '[\da-f]{8}-[\da-f]{4}-[1-8][\da-f]{3}-[89ab][\da-f]{3}-[\da-f]{12}'
                            - const: 00000000-0000-0000-0000-000000000000
                              description: a UUID
                              format: uuid
                            - const: ffffffff-ffff-ffff-ffff-ffffffffffff
                              description: a UUID
                              format: uuid
                            description: a UUID
                            format: uuid
                        required:
                        - name
                        - threadId
                    - type: 'null'
                  verification:
                    anyOf:
                    - type: object
                      properties:
                        created:
                          type: string
                        documentOrientation:
                          anyOf:
                          - type: number
                            maximum: 9007199254740991
                            minimum: -9007199254740991
                          - type: 'null'
                        documentQualityScore:
                          anyOf:
                          - type: number
                            maximum: 9007199254740991
                            minimum: -9007199254740991
                          - type: 'null'
                        lineItems:
                          anyOf:
                          - type: number
                          - type: object
                          - type: string
                          - type: boolean
                          - type: 'null'
                        processingTime:
                          anyOf:
                          - type: number
                            maximum: 9007199254740991
                            minimum: -9007199254740991
                          - type: 'null'
                        resId:
                          type: string
                          description: a RFC-4122-compliant UUID
                          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                        result:
                          anyOf:
                          - type: string
                          - type: 'null'
                        status:
                          type: string
                        teamId:
                          type: string
                          description: a RFC-4122-compliant UUID
                          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                        userId:
                          type: string
                          description: a RFC-4122-compliant UUID
                          pattern: ^[\da-f]{8}(?:-[\da-f]{4}){3}-[\da-f]{12}$
                        version:
                          type: integer
                          maximum: 2147483647
                          minimum: -2147483648
                      required:
                      - created
                      - documentOrientation
                      - documentQualityScore
                      - lineItems
                      - processingTime
                      - resId
                      - result
                      - status
                      - teamId
                      - userId
                      - version
                    - type: 'null'
                required:
                - archivedAt
                - checksum
                - createdAt
                - createdBy
                - filename
                - imageUris
                - isPrivate
                - metadata
                - mimeType
                - name
                - ownerId
                - resId
                - size
                - status
                - thumbnail
                - transferId
                - transferredAt
                - type
                - updatedAt
                - url
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    const: INVALID_REQUEST
                  message:
                    type: string
                  status:
                    const: 400
[...]
